<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fai_uses, 'pager_fai_us');

$fai_uses = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Fai_Us</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('fai_id'); ?></td>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('incertitude'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($fai_uses as $fai_us): ?>
		<tr>
			<td<?php echo $pager->getClass($fai_uses); ?>><?php echo $fai_us->get('fai_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fai_uses); ?>><?php echo $fai_us->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fai_uses); ?>><?php echo $fai_us->get('incertitude', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fai_uses); ?>><a href="<?php echo $this->getRequest('Fai_Us', 'edit', $fai_us->getPrimary()); ?>">EDIT</a></td>
			<td<?php echo $pager->getClass($fai_uses); ?>><a href="<?php echo $this->getRequest('Fai_Us', 'delete', $fai_us->getPrimary()); ?>">DELETE</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="5">
				<a href="<?php echo $this->getRequest('Fai_Us', 'add'); ?>">ADD</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>">Go back to index</a>
			</td>
		</tr>
	</tfoot>
</table>