<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($profil_ihms, 'pager_profil_ihm');

$profil_ihms = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Profil_Ihm</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('profil_id'); ?></td>
			<td><?php echo $pager->getSortLink('ihm_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($profil_ihms as $profil_ihm): ?>
		<tr>
			<td<?php echo $pager->getClass($profil_ihms); ?>><?php echo $profil_ihm->get('profil_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($profil_ihms); ?>><?php echo $profil_ihm->get('ihm_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($profil_ihms); ?>><a href="<?php echo $this->getRequest('Profil_Ihm', 'edit', $profil_ihm->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($profil_ihms); ?>><a href="<?php echo $this->getRequest('Profil_Ihm', 'delete', $profil_ihm->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Profil_Ihm', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>