<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_edit->getErrors();

	$base_url = $request->getBaseUrl();

	$unitesondage_id = $form_edit->getElement('unitesondage_id')->has('value') ? $form_edit->getElement('unitesondage_id')->get('value') : null ;
	$identification = $form_edit->getElement('identification')->has('value') ? $form_edit->getElement('identification')->get('value') : null ;

?>


<form name="form_troncon" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-md-6">
						<div
								class="form-group field <?php echo $form_edit->getElement('unitesondage_id')->get('type'); ?> <?php echo array_key_exists('unitesondage_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('unitesondage_id')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('unitesondage_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('unitesondage_id')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('unitesondage_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('id')->get('type'); ?> <?php echo array_key_exists('id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('id')->get('id'); ?>">
							<?php echo $form_edit->getElement('id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('identification', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('identification')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('identification')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('identification')->get('label')); ?>
							</label>
							<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
								<input id="<?php echo $form_edit->getElement('identification')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_edit->getElement('identification')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_edit->getElement('identification')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('nom', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('nom')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('nom')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('nom')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('nom')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('longueur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('longueur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('longueur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('longueur')->get('label')); ?>
							</label>
							<div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
							    <input type="number" step="0.01" id="longueur" placeholder="Longueur" name="longueur" class="form-control text" value="<?php echo $form_edit->getElement('longueur')->get('value');?>" />
							</div></div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('largeur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('largeur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('largeur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('largeur')->get('label')); ?>
							</label>
							<div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
							    <input type="number" step="0.01" id="largeur" placeholder="Largeur" name="largeur" class="form-control text" value="<?php echo $form_edit->getElement('largeur')->get('value');?>" />
							</div></div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('profondeur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('profondeur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('profondeur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('profondeur')->get('label')); ?>
							</label>
							<div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
							    <input type="number" step="0.01" id="profondeur" placeholder="Profondeur" name="profondeur" class="form-control text" value="<?php echo $form_edit->getElement('profondeur')->get('value');?>" />
							</div></div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('description')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('description')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('description')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('date_debut', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('date_debut')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('date_debut')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('date_debut')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('date_debut')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('date_fin', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('date_fin')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('date_fin')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('date_fin')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('date_fin')->getHtml(); ?>
						</div>
						
						<div class="form-group field text" id="Ffai">
                              <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="fai">
                                   FAI
                              </label>
                              <div><?php echo $form_edit->getElement('fai_id')->getHtml(); ?></div>
                         </div>
                         
                         <div class="form-group field text" id="FUS">
                              <label class="col-xs-12 control-label" for="us">
                                   US associées
                              </label>
                              
                              <div class="col-xs-8-offset-4">
                              <ul>
                              <?php foreach($liste_us_liees as $us_liee):
                                  $description = $us_liee->get('description');
				                  $identification = $us_liee->get('identification');
                                  $us_id = $us_liee->get('id');
                              ?>
                              <li class="col-xs-6">
                                  <input type="checkbox" name="liste_us[]" value="<?php echo $us_id; ?>" checked> <?php echo $identification; ?>
                              </li>
                              <?php endforeach; ?>
                              <?php foreach($liste_us as $us):
                                  $description = $us->get('description');
				                  $identification = $us->get('identification');
                                  $us_id = $us->get('id');
                              ?>
                              <li class="col-xs-6">
                                  <input type="checkbox" name="liste_us[]" value="<?php echo $us_id; ?>"> <?php echo $identification; ?>
                              </li>
                              <?php endforeach; ?>
                              </ul>
                              </div>
                         </div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->
	</div>
	<div>
        <input type="hidden" id="baseURLfield" value="<?php echo $base_url; ?>">
        <input class="btn btn-success" id="confirmerEditTroncon" value="Enregistrer" type="submit">
        <a href="<?php echo $base_url.'/Unitesondage/edit/'.$unitesondage_id; ?>" class="btn btn-default">Retour</a>
	</div>
</form>