<?php
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
?>

<script>
    function setClickableRow() { // rendre la ligne TR cliquable et rediriger vers le href correspondant
        $("table .table-clickable-row").each(function () {
            var redirect = $(this).attr('href')
            $(".table-row-data", $(this)).click(function () {
                window.location.href = redirect;
            })
        })
    }
	$(function(){
        setClickableRow();
	})
</script>
<div class="index-filter">
	<form id="form_selection" method="POST" action="index">
		<table class="gestion_table">
			<tr class="table_head gestion_bordures">
				<th class="th_center" style="width: 15%">Espace de décapage</th>
				<td class="txt-position-15" style="width: 15%">
					<select
							class="color inputColor select" type="select" id="us_id_troncon"
							name="unitesondage_id" onChange="$('#form_selection').submit();">
						<option value="">Tous</option>
						<?php
							foreach($units as $u) {
								$sel = ($u->get('us_id') == $unitesondage_id) ? "selected='selected'" : "" ;
								echo "<option value='" . $u->get("us_id") . "' $sel >" . $u->get("identification", $filter_html) . "</option>" ;
							}
						?>
					</select>
				</td>
			</tr>
		</table>
	</form>
</div>
<div class="table-responsive">
  <div id="table_log_index_wrapper">
	  <table id="table_troncon_index" class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
		<caption><?php echo $filter_html->filter( $i18n -> say('troncon_title_index')) ; ?></caption>
		<thead>
			<tr class="headings">
				<th><?php echo $filter_html->filter( $i18n -> say('identification')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('nom')) ; ?></th>
				<th><?php echo $filter_html->filter( $i18n -> say('description')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('fai')) ; ?></th>
				<th colspan="2" style="text-align: center;">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" title="Ajouter" id="ajouterTronconAUS"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			  foreach($troncons as $troncon):
				$troncon_id = $troncon->get('id');
				$identification = $troncon->get('identification');
				$description = $troncon->get('description');
				$nom = $troncon->get('nom');
				$fai = $troncon->get('fai_nom');
				$count_er = $troncon->has('nb_er') ? $troncon->get('nb_er') : 0 ; 
			?>
			<tr href="<?php echo $this->getRequest('Troncon', 'show', array($troncon_id)); ?>" title="<?php echo $filter_no_html->filter( $i18n->say('show_detail_title')) ; ?>" class="table-clickable-row">
				<td class="table-row-data"><?php echo $identification; ?></td>
				<td class="table-row-data"><?php echo $nom; ?></td>
				<td class="table-row-data"><?php echo $description; ?></td>
				<td class="table-row-data"><?php echo $fai; ?></td>
				<td class="table-row-option"><a href="<?php echo $this->getRequest('Troncon', 'edit', array($troncon_id)); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
				<td class="table-row-option">
					<span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" onclick="confirmerT('<?php echo $this->getRequest('Troncon', 'delete', array($troncon_id)); ?>');" alt="Supprimer" title="Supprimer" x="<?php echo $this->getRequest('Troncon', 'delete', array($troncon_id)); ?>"></span>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	  </table>
	</div>
	<div><a class="btn btn-default" href="#" onClick="window.history.back();">Retour</a></div>
</div>
<script>
    $(function () {
        $("#ajouterTronconAUS").click(function(){
            alert("La création d'un Tronçon doit se faire depuis l'édition d'un Espace de décapage.")
        })
    })
</script>