<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_show->getErrors();

	$base_url = $request->getBaseUrl();

	$unitesondage_id = $form_show->getElement('unitesondage_id')->has('value') ? $form_show->getElement('unitesondage_id')->get('value') : null ;
	$identification = $form_show->getElement('identification')->has('value') ? $form_show->getElement('identification')->get('value') : null ;

?>

<!-- <script src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/ajax_relation_viewer.js"></script> -->
<!-- <script src="<?php //echo $request->getBaseUrl(); ?>/2.0/js/dialog/jquery-ui.min.js"></script> -->


<script>
	$(function(){
		$('.select').prop('disabled',true)
		$('.checkbox').prop('disabled',true)
	})
</script>
<h2 class="page-header">D&eacute;tails <?php echo $filter_html->filter( $i18n -> say('troncon')); ?> <?php echo $filter_no_html->filter($form_show->getElement('identification')->get('value')); ?>
</h2>

<form name="form_troncon" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-lg-6 col-sm-8 col-xs-10">
						<div
								class="form-group field <?php echo $form_show->getElement('unitesondage_id')->get('type'); ?> <?php echo array_key_exists('unitesondage_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('unitesondage_id')->get('id'); ?>">
							<label
									class="col-md-3 col-sm-6 col-xs-9 control-label"
									for="<?php echo $form_show->getElement('unitesondage_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('unitesondage_id')->get('label')); ?>
							</label>
							<?php echo $form_show->getElement('unitesondage_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('identification', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('identification')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('identification')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('identification')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('identification')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('identification')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('identification')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('nom', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('nom')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('nom')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('nom')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('nom')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('nom')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('nom')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('longueur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('longueur')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('longueur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('longueur')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('longueur')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('longueur')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('longueur')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('largeur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('largeur')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('largeur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('longueur')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('largeur')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('largeur')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('largeur')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('profondeur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('profondeur')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('profondeur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('profondeur')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('profondeur')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('profondeur')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('profondeur')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('description')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('description')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<textarea id="<?php echo $form_show->getElement('description')->get('id'); ?>"
									   class="form-control" rows="3"
									   value=""
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('description')->get('id'); ?>"><?php echo $form_show->getElement('description')->get('value'); ?></textarea>
							</div>
						</div>
						
						<div
								class="form-group field <?php echo array_key_exists('date_debut', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('date_debut')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('date_debut')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('date_debut')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('date_debut')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('date_debut')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('date_debut')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('date_fin', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('date_fin')->get('id'); ?>">
							<label
									class="col-sm-4 col-xs-10 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('date_fin')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('date_fin')->get('label')); ?>
							</label>
							<div class="col-sm-8 col-xs-10">
								<input id="<?php echo $form_show->getElement('date_fin')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('date_fin')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('date_fin')->get('id'); ?>" >
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->
		<!-- Panel US - Start -->
		<div id="panel_us" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingUS">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUS" aria-expanded="false" aria-controls="collapseUS">
						US
					</a>
				</h4>
			</div>
			<div id="collapseUS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingUS">
				<div class="panel-body">
					<div class="col-md-8 col-sm-9 col-xs-10">
						<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
							<thead>
								<tr class="headings">
									<th><?php echo $filter_html->filter( $i18n -> say('identification')) ; ?></th>
									<th><?php echo $filter_html->filter( $i18n -> say('description')) ; ?></th>
									<th><?php echo $filter_no_html->filter( $i18n -> say('date_debut')) ; ?></th>
									<th><?php echo $filter_html->filter( $i18n -> say('date_fin')) ; ?></th>
								</tr>
							</thead>
							<tbody>
								<?php 
								    foreach($liste_us as $us):
					                $us_ident = $us->get('identification');
					                $us_desc = $us->get('description');
					                $us_debut = $us->get('debut');
					                $us_fin = $us->get('fin');
								?>
						<tr class="table-clickable-row">
			                <td class="table-row-data"><?php echo $us_ident; ?></td>
							<td class="table-row-data"><?php echo $us_desc; ?></td>
							<td class="table-row-data"><?php echo $us_debut; ?></td>
							<td class="table-row-data"><?php echo $us_fin; ?></td>
			            </tr>
			    <?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<!--
        <input class="btn btn-primary" value="Enregistrer" type="submit">
        -->
		<a href="<?php echo $base_url."/Unitesondage/show/".$unitesondage_id; ?>" class="btn btn-default">Retour</a>
	</div>
	</div>
</form>
<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
   */
  $this->getLayout()->setEnabled(true);
?>