<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($participations, 'pager_participation');

$participations = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Participation</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('intervenant_id'); ?></td>
			<td><?php echo $pager->getSortLink('oa_id'); ?></td>
			<td><?php echo $pager->getSortLink('debut'); ?></td>
			<td><?php echo $pager->getSortLink('fin'); ?></td>
			<td><?php echo $pager->getSortLink('role_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($participations as $participation): ?>
		<tr>
			<td<?php echo $pager->getClass($participations); ?>><?php echo $participation->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($participations); ?>><?php echo $participation->get('intervenant_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($participations); ?>><?php echo $participation->get('oa_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($participations); ?>><?php echo $participation->get('debut', $filter_html); ?></td>
			<td<?php echo $pager->getClass($participations); ?>><?php echo $participation->get('fin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($participations); ?>><?php echo $participation->get('role_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($participations); ?>><a href="<?php echo $this->getRequest('Participation', 'edit', $participation->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($participations); ?>><a href="<?php echo $this->getRequest('Participation', 'delete', $participation->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="8">
				<a href="<?php echo $this->getRequest('Participation', 'add'); ?>"  class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default">Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table>