<?php 
  // test si page autonome ( dans un layout ) ou incluse dans une autre.
  // permet de ne pas redefinir l'appel highcharts de multiple fois
  if (!$this->getLayout()->getEnabled() ) { 
?>
  <link href="<?php echo $request->getBaseUrl(); ?>/css/_vis.css" rel="stylesheet" type="text/css" />
  <script src="<?php echo $request->getBaseUrl(); ?>/js/vis.js"></script>
<?php  } ?>

  <style type="text/css">
/*
    #sdf_dot_cloud {
      width: 600px;
      height: 600px;
      border: 1px solid lightgray;
    }
*/
  </style>

  <!-- Graphique de Nuage de points US -->
<div class="col-md-9">    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Positionnement des Unit&eacute;s  Stratigraphiques</h3>
    </div>
    <div class="panel-body">
      <div id="sdf_dot_cloud">
      <?php echo $this->getResponse('Analyser_Sitefouille', 'Cloudpoints'); ?>
      </div>
    </div>
  </div>
</div>

<!-- Le Stratifiant -->

<div class="col-md-3 col-sm-6">                  
  <div class="panel panel-info">                        
    <div class="panel-heading">                            
      <div class="row">                                
        <div class="col-xs-12 text-left">                                    
          <div>Source de donn&eacute;es Le Stratifiant</div>                                
        </div>
        <!-- <div class="col-xs-3"></div>-->                            
      </div>                        
    </div>
    <div class="panel-body">
      <a href="<?php echo $this->getRequest('Analyser_Us', 'stratifiant'); ?>">
      <!-- <a href="<?php echo $request->getBaseUrl(); ?>/tmp/Le_Stratifiant_0_3_5.xls"> -->      
        <span>
          <img src="<?php echo $request->getBaseUrl(); ?>/images/xls-graph.png" />
        </span>
        <span class="pull-right">T&eacute;l&eacute;charger </span>
      </a>
    </div>                        
  </div>                
</div>

<!-- Export -->

<div class="col-md-3 col-sm-6">                  
  <div class="panel panel-success">                        
    <div class="panel-heading">                            
      <div class="row">                                
        <div class="col-xs-10 text-left">                                    
          <div>Export des donn&eacute;es E.R. </div>                                
        </div>
        <div class="col-xs-2"></div>                            
      </div>                        
    </div>
    <div class="panel-body">
      <a href="<?php echo $this->getRequest('Dashboard_Us', 'Export'); ?>?export_mode=total">
        <span>
          <img src="<?php echo $request->getBaseUrl(); ?>/images/xls_hover.png" />
        </span>
        <span class="pull-right">T&eacute;l&eacute;charger </span>
      </a>
    </div>                        
  </div>                
</div>

<!-- Widget du nombre des US -->
<!--
<div class="col-md-3 col-sm-6">                  
  <div class="panel panel-primary">                        
    <div class="panel-heading">                            
      <div class="row">                                
        <div class="col-xs-10 text-left">                                    
          <div>Nombre d'Unit&eacute;s Stratigraphiques</div>                                
        </div>
        <div class="col-xs-2">
          <span class="badge"><div class="huge" id="count_us"></div></span>          
        </div>
                           
      </div>                        
    </div>
    <a href="#us" role="tab" data-toggle="tab">                            
      <div class="panel-footer">                                
        <span class="pull-left">D&eacute;tails</span>                                
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>                                
        <div class="clearfix"></div>                            
      </div>
    </a>  
  </div>                
</div>
-->
<!-- Widget du nombre des ER -->
<!--
<div class="col-md-3 col-sm-6">                    
  <div class="panel panel-warning">                        
    <div class="panel-heading">                            
      <div class="row">                                
        <div class="col-xs-10 text-left">                                    
          <div>Nombre d'El&eacute;ments Recueillis</div>                                 
        </div>
        <div class="col-xs-2">
          <span class="badge"><div class="huge" id="count_er" ></div></span>          
        </div>                            
      </div>                        
    </div>                        
    <a href="<?php echo $this->getRequest('Dashboard_Elementrecueilli', 'index'); ?>" target="_blank" >                            
      <div class="panel-footer">                                
        <span class="pull-left">D&eacute;tails</span>                                
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>                                
        <div class="clearfix"></div>                            
      </div>
    </a>                    
  </div>                
</div>
-->
<style type="text/css">
#us_cloud_container {
	height: 400px; 
	min-width: 310px; 
	max-width: 800px;
	margin: 0 auto;
}
</style>
<script type="text/javascript">

  $(document).ready(function(){
    // Widget du nombre des US 
    $.ajax({
			type:"POST",
			url: "<?php echo $this->getRequest('Dashboard_Us','Count' ) ; ?>",
			// data: "",
      // onLoading: $("#dashboard-content">").html('<span style="margin-left: 10%;"> <img src="<?php echo $base_url; ?>/images/is_loading.gif" /></span>'),
			success: function(returnData_us_count){
        $("#count_us").html(returnData_us_count);					
			},
      error: function(xhr, status, error){
      }
		});

    // Widget du nombre des ER 
    $.ajax({
			type:"POST",
			url: "<?php echo $this->getRequest('Dashboard_Elementrecueilli','Count' ) ; ?>",
			data: "",
      // onLoading: $("#dashboard-content">").html('<span style="margin-left: 10%;"> <img src="<?php echo $base_url; ?>/images/is_loading.gif" /></span>'),
			success: function(returnData_er_count){
        $("#count_er").html(returnData_er_count);					
			},
      error: function(xhr, status, error){
      }
		});

    // Widget Cloud Points des US
    /*
    $.ajax({
			type:"POST",
			url: "<?php echo $this->getRequest('Analyser_Sitefouille','Cloudpoints' ) ; ?>",
			data: "",
      // onLoading: $("#dashboard-content">").html('<span style="margin-left: 10%;"> <img src="<?php echo $base_url; ?>/images/is_loading.gif" /></span>'),
			success: function(returnData_us_cloud){
        $("#sdf_dot_cloud").html(returnData_us_cloud);					
			},
      error: function(xhr, status, error){
      }
		});
   */

  });

</script>