<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
	//$uses_index->noLimit();
	$sitefouille_id = $session->get('sitefouille_id');
    
?>

<script src="<?php echo $request->getBaseUrl(); ?>/js/sitefouille/existant.js"></script> <!-- jfb 2016-06 mantis 318 -->
<script src="<?php echo $request->getBaseUrl(); ?>/js/unitesondage.js"></script>

<div class="table-responsive">
  
  <div id="table_usondage_index_wrapper">
	  <table id="table_usondage_index" 
               class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
	  <!-- class="table table-striped table-bordered responsive-utilities"> --> <!--  ligne remplacee par la ligne ci-dessus -->
            <caption><?php echo $filter_no_html->filter( $i18n -> say('usondage_title_index')) ; ?></caption>
                                              <!--  ajout de usondage_title_index dans config_i18n.ini -->
		<thead>
			<tr class="headings">
				<th><?php echo $filter_html->filter( $i18n -> say('identification')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('debut')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('fin')) ; ?></th>

				<th><?php echo $filter_html->filter( $i18n -> say('description')) ; ?></th>
				<th><?php echo $filter_html->filter( $i18n -> say('usondage_type')) ; ?></th>
				
				<th colspan="2" style="text-align: center;">
                  <!-- jfb 2016-06-06 mantis 262 début
				  <a href="<?php echo $this->getRequest('Us', 'add'); ?>">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" alt="Ajouter" title="Ajouter"></span>  
				  </a>
				  //   jfb 2016-06-06 mantis 262 fin -->
				  <!-- jfb 2016-06-06 mantis 262 début -->
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;"
					      onclick="siteFouilleExistant('<?php echo $sitefouille_id; ?>','<?php echo $this->getRequest('Unitesondage', 'add'); ?>');"
					      title="Ajouter"></span>  
				  <!-- jfb 2016-06-06 mantis 262 fin -->
				</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			  foreach($tranchee_index as $usondage): 
				$usondage->set('format','%d/%m/%Y') ;
				$usondage_id = $usondage->get('us_id');
                $identification = $usondage->get('identification');
                if($usondage->get('date_fin') == null)$date_fin = ''; else
                $date_fin = $usondage->get('date_fin', 'Date');
                if($usondage->get('date_debut') == null)$date_deb = ''; else
                $date_deb = $usondage->get('date_debut', 'Date');
                $description = $usondage->get('description');
				$type = $usondage->get('type');
				$count_er = $usondage->has('nb_er') ? $usondage->get('nb_er') : 0 ; 
			  
			?>
			<tr href="<?php echo $this->getRequest('Unitesondage', 'show', array($usondage_id)); ?>" title="<?php echo $filter_no_html->filter( $i18n->say('show_detail_title')) ; ?>" class="table-clickable-row">
				<td class="table-row-data"><?php echo $identification; ?></td>
				<td class="table-row-data"><?php echo $date_deb; ?></td>
				<td class="table-row-data"><?php echo $date_fin; ?></td>
				<td class="table-row-data"><?php echo $description; ?></td>
				<td class="table-row-data"><?php echo $type; ?></td>
				<td class="table-row-option"><a href="<?php echo $this->getRequest('Unitesondage', 'edit', array($usondage_id)); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
				<td class="table-row-option">
						<span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;"
						onclick="confirmer('<?php echo $this->getRequest('Unitesondage', 'delete', array($usondage_id)); ?>');"
						alt="Supprimer" title="Supprimer" x="<?php echo $this->getRequest('Unitesondage', 'delete', array($usondage_id)); ?>"></span>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	  </table>
	</div>
</div>

<div style="float:left;padding-bottom:10px;padding-top:10px" >
	<span> 
		<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
	</span>
</div>
