<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_show->getErrors();

	$base_url = $request->getBaseUrl();

	// $us_id = $form_show->hasElement('id') ? $form_show->getElement('id')->getValue() : null ;

	$sitefouille_id = $form_show->getElement('sitefouille_id')->has('value') ? $form_show->getElement('sitefouille_id')->get('value') : null ;
	$identification = $form_show->getElement('identification')->has('value') ? $form_show->getElement('identification')->get('value') : null ;

?>

<!-- <script src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/ajax_relation_viewer.js"></script> -->
<!-- <script src="<?php //echo $request->getBaseUrl(); ?>/2.0/js/dialog/jquery-ui.min.js"></script> -->

<script>
	$(function(){
		$('.select').prop('disabled',true)
		$('.checkbox').prop('disabled',true)
		$('.table-clickable-row').click(function() {
			document.location.href = $(this).attr('href');
		})
	})
</script>
<h2 class="page-header">D&eacute;tail Espace de décapage <?php echo $filter_no_html->filter($form_show->getElement('identification')->get('value')); ?>
</h2>

<form name="form_unitesondage" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-md-6-offset-2">
						<div
								class="form-group field <?php echo $form_show->getElement('sitefouille_id')->get('type'); ?> <?php echo array_key_exists('sitefouille_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('sitefouille_id')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_show->getElement('sitefouille_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('sitefouille_id')->get('label')); ?>
							</label>
							<?php echo $form_show->getElement('sitefouille_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('identification', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('identification')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('identification')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('identification')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('identification')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('identification')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('identification')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('description')->get('id'); ?>">
							<label
									class="col-xs-10 col-sm-3 col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('description')->get('label')); ?>
							</label>
							<div class="col-xs-10 col-sm-7 col-md-7">
								<textarea id="<?php echo $form_show->getElement('description')->get('id'); ?>"
									   class="form-control" rows="3"
									   value=""
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('description')->get('id'); ?>"><?php echo $form_show->getElement('description')->get('value'); ?></textarea>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->
		<!-- Panel Caracteristics - Start -->
		<div id="panel_caracteristics" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingCaracteristics">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCaracteristics" aria-expanded="false" aria-controls="collapseThree">
						Caract&eacute;ristiques
					</a>
				</h4>
			</div>
			<div id="collapseCaracteristics" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCaracteristics">
				<div class="panel-body">

						<div
								class="form-group field <?php echo $form_show->getElement('type')->get('type'); ?>"
								id="F<?php echo $form_show->getElement('type')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('description')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('type')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('type')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('type')->get('value'); ?>"
									   readonly="readonly" name="<?php echo $form_show->getElement('type')->get('id'); ?>" >
							</div>
						</div>

					<?php if($form_show->hasElement('tranchee')) {?>

						<div
								class="form-group field <?php echo $form_show->getElement('tranchee')->get('type'); ?>"
								id="F<?php echo $form_show->getElement('tranchee')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('tranchee')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('tranchee')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('tranchee')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('tranchee')->get('value'); ?>"
									   readonly="readonly" name="<?php echo $form_show->getElement('tranchee')->get('id'); ?>" >
							</div>
						</div>

					<?php } ?>

						<div
								class="form-group field <?php echo $form_show->getElement('largeur')->get('type'); ?>"
								id="F<?php echo $form_show->getElement('largeur')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('largeur')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('largeur')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('largeur')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('largeur')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('largeur')->get('id'); ?>" >
							</div>
						</div>


						<div
								class="form-group field <?php echo $form_show->getElement('longueur')->get('type'); ?>"
								id="F<?php echo $form_show->getElement('longueur')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('longueur')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('longueur')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('longueur')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('longueur')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('longueur')->get('id'); ?>" >
							</div>
						</div>

						<div
								class="form-group field <?php echo $form_show->getElement('profondeur')->get('type'); ?>"
								id="F<?php echo $form_show->getElement('profondeur')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('profondeur')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('profondeur')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('profondeur')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('profondeur')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('profondeur')->get('id'); ?>" >
							</div>
						</div>
					<div class="form-group field <?php echo array_key_exists('date_debut', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('date_debut')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('date_debut')->get('id'); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('date_debut')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('date_debut')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo '', ($form_show->getElement('date_debut')->getValue() == '' ? '' : $form_show->getElement('date_debut')->getValue()); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('date_debut')->get('id'); ?>" >
							</div>
						</div>
						<div class="form-group field <?php echo array_key_exists('date_fin', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('date_fin')->get('id'); ?>">
							<label
									class="col-xs-3 control-label"
									for="<?php echo $form_show->getElement('date_fin')->get('id'); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('date_fin')->get('label')); ?>
							</label>
							<div class="col-xs-7">
								<input id="<?php echo $form_show->getElement('date_fin')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo '', ($form_show->getElement('date_fin')->getValue() == '' ? '' : $form_show->getElement('date_fin')->getValue()); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('date_fin')->get('id'); ?>" >
							</div>
						</div>
				</div>
			</div>
		</div>
		<!-- Panel Caracteristics - End -->

		<?php if($form_show->hasElement('fenetres')) { ?>
		<!-- Panel Fenetres - Start -->
		<div id="panel_fenetres" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingFenetres">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFenetres" aria-expanded="false" aria-controls="collapseTwo">
						<?php echo $filter_html->filter( $i18n -> say('fenetres')); ?>
					</a>
				</h4>
			</div>
			<div id="collapseFenetres" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div role="tabpanel" class="tab-pane col-xs-12 col-sm-12" id="Fenetres">
						<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
							<thead>
								<tr><th>Identification</th><th>Date début</th><th>Date fin</th><th>Description</th></tr>
							</thead>
							<tbody>
								<?php 
								    foreach($form_show->getElement('fenetres')->get('value') as $fenetre): 
					                $fenetre->set('format','%d/%m/%Y');
					                $fenetre_id = $fenetre->get('id');
                                    $identification = $fenetre->get('identification');
                                    $desc = $fenetre->get('description');
                                    if($fenetre->get('date_fin') == null)$date_fin = ''; else
                                    $date_fin = $fenetre->get('date_fin', 'Date');
                                    if($fenetre->get('date_debut') == null)$date_deb = ''; else
                                    $date_deb = $fenetre->get('date_debut', 'Date');
								?>
						<tr class="table-clickable-row" href="<?php echo $this->getRequest('Unitesondage', 'show', array($fenetre_id)); ?>">
			                <td class="table-row-data"><?php echo $identification; ?></td>
			                <td class="table-row-data"><?php echo $date_deb; ?></td>
			                <td class="table-row-data"><?php echo $date_fin; ?></td>
			                <td class="table-row-data"><?php echo $desc; ?></td>
			            </tr>
			    <?php endforeach; ?>
							</tbody>
						</table>				
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Fenetres - End -->
		<?php } ?>
		<?php if(count($logs)>0) {?>
		<!-- Panel Logs - Start -->
		<div id="panel_logs" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingLogs">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLogs" aria-expanded="false" aria-controls="collapseTwo">
						Logs
					</a>
				</h4>
			</div>
			<div id="collapseLogs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div role="tabpanel" class="tab-pane col-xs-12 col-sm-12" id="Logs">
						<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
							<thead>
								<tr><th>Identification</th><th>Nom</th><th>Description</th></tr>
							</thead>
							<tbody>
								<?php 
								    foreach($logs as $log): 
					                $log->set('format','%d/%m/%Y') ;
					                $log_id = $log->get('id');
                                    $identification = $log->get('identification');
                                    $desc = $log->get('description');
			                        $nom = $log->get('nom');
								?>
						<tr class="table-clickable-row" href="<?php echo $base_url.'/Log/show/'.$log_id;?>">
			                <td class="table-row-data"><?php echo $identification; ?></td>
			                <td class="table-row-data"><?php echo $nom; ?></td>
			                <td class="table-row-data"><?php echo $desc; ?></td>
			            </tr>
			    <?php endforeach; ?>
							</tbody>
						</table>				
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Logs - End -->
		<?php } ?>
		<?php if(count($troncons)>0) {?>
		<!-- Panel Troncons - Start -->
		<div id="panel_troncons" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingTroncons">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTroncons" aria-expanded="false" aria-controls="collapseTwo">
						<?php echo $filter_html->filter( $i18n -> say('troncon_title_index')); ?>
					</a>
				</h4>
			</div>
			<div id="collapseTroncons" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div role="tabpanel" class="tab-pane col-xs-12 col-sm-12" id="Troncons">
						<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
							<thead>
								<tr><th>Identification</th><th>Nom</th><th>Description</th></tr>
							</thead>
							<tbody>
								<?php 
								    foreach($troncons as $troncon): 
					                $troncon->set('format','%d/%m/%Y') ;
					                $troncon_id = $troncon->get('id');
                                    $identification = $troncon->get('identification');
                                    $desc = $troncon->get('description');
			                        $nom = $troncon->get('nom');
								?>
						<tr class="table-clickable-row" href="<?php echo $base_url.'/Troncon/show/'.$troncon_id;?>">
			                <td class="table-row-data"><?php echo $identification; ?></td>
			                <td class="table-row-data"><?php echo $nom; ?></td>
			                <td class="table-row-data"><?php echo $desc; ?></td>
			            </tr>
			    <?php endforeach; ?>
							</tbody>
						</table>				
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Troncons - End -->
		<?php } ?>
	</div>
	<div>
		<!--
        <input class="btn btn-primary" value="Enregistrer" type="submit">
        -->
		<a href="<?php echo $this->getRequest('Unitesondage', 'index'); ?>" class="btn btn-default">Retour</a>
	</div>
	</div>
</form>
<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
   */
  $this->getLayout()->setEnabled(true);
?>