<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_edit->getErrors();

	$base_url = $request->getBaseUrl();

	$unitesondage_id = $form_edit->getElement('unitesondage_id')->has('value') ? $form_edit->getElement('unitesondage_id')->get('value') : null ;
	$identification = $form_edit->getElement('identification')->has('value') ? $form_edit->getElement('identification')->get('value') : null ;

?>

<script src="<?php echo $base_url; ?>/js/log/edit.js"></script>

<form name="form_log" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-md-6">
						<div
								class="form-group field <?php echo $form_edit->getElement('unitesondage_id')->get('type'); ?> <?php echo array_key_exists('unitesondage_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('unitesondage_id')->get('id'); ?>">
							<label
									class="col-md-4 control-label"
									for="<?php echo $form_edit->getElement('unitesondage_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('unitesondage_id')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('unitesondage_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('id')->get('type'); ?> <?php echo array_key_exists('id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('id')->get('id'); ?>">
							<?php echo $form_edit->getElement('id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('identification', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('identification')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('identification')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('identification')->get('label')); ?>
							</label>
							<div class="col-lg-9 col-md-9 col-sm-9">
								<input id="<?php echo $form_edit->getElement('identification')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_edit->getElement('identification')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_edit->getElement('identification')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('nom', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('nom')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('nom')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('nom')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('nom')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('description')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('description')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('description')->getHtml(); ?>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->
		<!-- Panel Couches - Start -->
		<div id="panel_couches" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingCouches">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCouches" aria-expanded="false" aria-controls="collapseThree">
						Couches
					</a>
				</h4>
			</div>
			<div id="collapseCouches" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCouches">
				<div class="panel-body">
					<div role="tabpanel" class="tab-pane col-sm-12" id="Couchelogs">
										
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Caracteristics - End -->
	</div>
	<div>
        <input type="hidden" id="baseURLfield" value="<?php echo $base_url; ?>">
        <input class="btn btn-success" id="confirmerEditLog" value="Enregistrer" type="submit">
        <a href="<?php echo $base_url.'/Unitesondage/edit/'.$unitesondage_id; ?>" class="btn btn-default">Retour</a>
	</div>
</form>