<?php

	$session = $this->getSession();
	$session = $this->getSession();
	$registry = $this->getRegistry();

	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();

	// $pager = new Yab_Helper_Pager($sitefouilles_index, 'pager_sitefouille');

	// $sitefouilles_index_index = $pager->getStatement();
	//$sitefouilles_index->noLimit();

?>
<script type='text/javascript'>
	var sZeroRecords = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale_error')) ; ?>"
	var sSearch = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale_label')) ; ?> :"
</script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/table_module.js"></script>

<script type='text/javascript'>
function confirmer(url) {  // jfb 2016-04-13
	if (confirm('Veuillez Cliquer sur "OK" pour confirmer la suppression.')) {
		document.location.href = url ;
	}
}
</script>

<script>
function alertPhoto(id){
	var inputidhidden = document.getElementById("photoid");
	var urlws = document.getElementById("inputurlws");
	var linkmodal = document.getElementById("snedPhotoLink");
	inputidhidden.value = id;
	urlws.value = "<?php echo 'http://' . $config ['ws'] . $config ['context'] .strtolower($this->getRequest()->getController()).'/photogrammetrie/' ;?>" + id;
	linkmodal.setAttribute("data-target", "");
	$.ajax({
		  url: "<?php echo $this->getRequest('Sitefouille', 'testajax') ; ?>",
		  cache: false,
		  success: function(response){
			// la variable "response" contient "1" ou "0" en fonction du résultat envoyé par le serveur
			if (response == 1){
			    $("#id-popup").modal("show");
			}else if(response == 0){
				alert("<?php echo $filter_no_html->filter( $i18n -> say('photoalert')) ; ?>") ;
			}else{
				alert("<?php echo $filter_no_html->filter( $i18n -> say('photoalertserver')) ; ?>");
			}
		  }
		}) ;

}
</script>

<div class="table-responsive">
	<div id="optiontools"></div>

	<div id="table_sitefouilles_index_wrapper">
		<table id="table_sitefouilles_index"
			class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
			<caption>
				<?php if(isset($nbrRequete)){echo $nbrRequete." ";} echo $filter_no_html->filter( $i18n -> say('sitefouille_title_index')) ; ?>
			</caption>
			<thead>
				<tr class="headings">
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('sitefouille_nom')) ; ?>
					</th>
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('sitefouille_nomabrege')) ; ?>
					</th>
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('numerosite')) ; ?>
					</th>
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('departement')) ; ?>
					</th>
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('commune')) ; ?>
					</th>

					<th>
						<?php echo "Photo-\n".$filter_no_html->filter( $i18n->say('grammetry')) ; ?>
					</th>
					<th align="center">Géo-<br>référencement</th>
					<th colspan="2" align="center"><a
						href="<?php echo $this->getRequest('Sitefouille', 'add'); ?>">
							<span class="glyphicon glyphicon-plus-sign"
							style="font-size: 32px;" alt="Ajouter" title="Ajouter"></span>
					</a></th>
				</tr>
			</thead>
			<tbody>
				<?php 
					$params = array();
					foreach($sitefouilles_index as $sitefouille){
					$params["id"] = $sitefouille->get('id') ;
				?>
				<tr
					href="<?php echo $this->getRequest('Sitefouille', 'show', $params); ?>"
					title="<?php echo $filter_no_html->filter( $i18n->say('show_detail_title')) ; ?>"
					class="table-clickable-row">

					<td class="table-row-data">
						<?php echo $sitefouille->get('nom', $filter_html); ?>
					</td>
					<td class="table-row-data">
						<?php echo $sitefouille->get('nomabrege', $filter_html); ?>
					</td>
					<td class="table-row-data">
						<?php echo $sitefouille->get('numerosite', $filter_html); ?>
					</td>
					<td class="table-row-data">
						<?php echo $sitefouille->get('departement', $filter_html); ?>
					</td>
					<td class="table-row-data">
						<?php echo $sitefouille->get('commune', $filter_html); ?>
					</td>

					<!-- PHOTOGRAMMETRIE -->
					<td class="table-row-option">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button">
								<span class="glyphicon glyphicon-camera"
									style="font-size: 18px;" alt="" title=""></span> <span
									class="glyphicon glyphicon-chevron-down"
									style="font-size: 10px;" alt="" title=""></span>
							</button>
							<ul class="dropdown-menu">
								<li><a id="snedPhotoLink"
									onclick="alertPhoto('<?php echo $sitefouille->get('id', $filter_html); ?>')"><span
										style="font-size: 18px;"> <?php echo $filter_no_html->filter( $i18n -> say('create3d') ); ?>
									</span></a></li>
								<li class="divider"></li>
								<li>
									<a href="<?php echo $this->getRequest('Sitefouille', 'gestionphoto', $params); ?> ">
										<span class="" style="font-size: 18px;" alt="" title="">
											<?php echo $filter_no_html->filter( $i18n -> say('manage') ); ?>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</td>
					
					<!-- GEOREFERENCEMENT -->
					<td class="table-row-option"><a 
					href="<?php echo $this->getRequest('Sitefouille', 'Telechargement', $params); ?>">
						<span class="glyphicon glyphicon-map-marker" style="font-size: 32px;" alt="Géoréférencement" title="Géoréférencement"></span>
					</td>
						
					<td class="table-row-option"><a
						href="<?php echo $this->getRequest('Sitefouille', 'edit', $params); ?>"><span
							class="glyphicon glyphicon-edit" style="font-size: 18px;"
							alt="Editer" title="Editer"></span></a></td>
					<td class="table-row-option"><span
						class="glyphicon glyphicon-remove-circle alert-danger"
						style="font-size: 18px;"
						onclick="confirmer('<?php echo $this->getRequest('Sitefouille', 'delete', $params); ?>');"
						alt="Supprimer" title="Supprimer"></span></td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>
<div style="float: left; padding-bottom: 10px; padding-top: 10px">
	<span> <a
		href="<?php echo $this->getRequest('Index', 'index'); ?>"
		class="btn btn-default">Retour &agrave; index</a>
	</span>
</div>

<!-- POPUP MODALE -->
<div class="modal fade" id="id-popup" tabindex="-1" role="dialog"
	aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true"
	data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
					<?php echo $filter_no_html->filter( $i18n -> say('sendphotos')); ?>
					<!-- lla croix de fermeture de la popup -->
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</h4>
			</div>
			<div class="modal-body">
				<form method="post" name="form_sitefouille"
					action="http://photogrammetrie.fichestrati.fr/modelise/"
					enctype="multipart/form-data" role="form" class="form-horizontal">
					<input type="hidden" name="" value=""/>
					<fieldset>
						<div class="panel-group" id="accordion" role="" aria-multiselectable="true">
							<!--<input type="hidden" name="MAX_FILE_SIZE" value="1234500000000" />-->
							<input id="modalEmailInput" class="form-control" type="email" name="mail" required="true" placeholder="Votre adresse e-mail"/>
							<input id="modalFirstInput" class="form-control" type="file" name="photos[]" multiple required="true" />
							<input id="photoid" type="hidden" name="id"/>
							<input type="hidden" name="type" value="<?php echo strtolower($this->getRequest()->getController());?>" />
							<input type="hidden" name="url_site_central" value="<?php echo 'http://' . $config ['ip'] .$this->getRequest()->getBaseUrl() ;?>" />
							<input type="hidden" name="url_confirmation" value="<?php echo 'http://' . $config ['ip'] .$this->getRequest()->getBaseUrl().'/'.$this->getRequest()->getController() .'/confirmation' ;?>" />
							<input id="inputurlws" type="hidden" name="url_ws" value="<?php echo 'http://' . $config ['ws'];?>" />
						</div>
						<div>
							<input class="btn btn-primary" type="submit" name="btSubmit"
								value="<?php echo $filter_no_html->filter( $i18n -> say('send') ); ?>" />
							<a class="btn btn-default" data-dismiss="modal"
								aria-hidden="true"> <?php echo $filter_no_html->filter( $i18n -> say('back_form') ); ?>
							</a>
						</div>
					</fieldset>
				</form>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>