<?php
  $helper_form = new Yab_Helper_Form($form) ;
  /**
   * Initialisation des infos site de fouille
   */
  $nom = $form->getElement('nom')->getValue();
  $adresse = $form->getElement('adresse')->getValue();
  $commune = $form->getElement('commune')->getValue();
  $departement = $form->getElement('departement')->getValue();
  
  $query_adresse = $adresse.' '.$commune.' '.$departement.',france' ;
  
?>

<div>
<h2 class="page-header">Site de fouilles
<?php 
  if($this->getSession()->has('title_precision')){
    echo $this->getSession()->get('title_precision', 'Html');                    
  } 
?>
</h2>

  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#localisation" role="tab" data-toggle="tab">Localisation</a></li>
    <li role="presentation"><a href="#oa" role="tab" data-toggle="tab">Op&eacute;ration Arch&eacute;ologique</a></li>
    <li role="presentation"><a href="#us" role="tab" data-toggle="tab">Unit&eacute;s Stratigraphiques</a></li>
    <li role="presentation"><a href="#er" role="tab" data-toggle="tab">El&eacute;ments Recueillis</a></li>
    <li role="presentation"><a href="<?php echo $this->getRequest('Sitefouille', 'VisuObj', array( 'layout' => false , 'sitefouille_id' => $sitefouille_id ) ) ; ?>" target="_blank"> Photogram&egrave;trie </a></li>
  </ul>
  <div>
    <p>
      <div class="col-md-6">    
        <!-- 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Informations</h3>
          </div>
          <div class="panel-body"> 
        --> 
            <div id="visu_info">
            <?php echo $helper_form->setLegend('Visu')->setSubmit('Enregistrer')->setButton($this->getRequest('Sitefouille', 'index'), 'Retour'); ?>
            </div>
          <!--
          </div>        
        </div>
        -->
      </div>
      <div class="col-md-6">   
      <!-- Tab panes -->
      <div class="tab-content">
   

        <div role="tabpanel" class="tab-pane active" id="localisation">
          <script>
            
            function getSdfOsmLayers(sdf_lat,sdf_lon, msg_popup){
              
              // var map = L.map('sdf_map').setView([48.9356447, 2.3571916999999303], 17);
              var map = L.map('sdf_map').setView([sdf_lat, sdf_lon], 17);
              
          		L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
          			maxZoom: 20,
          			// attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          			//	'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          			//	'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          			id: 'examples.map-i875mjb7'
          		}).addTo(map);
          
              L.marker([sdf_lat, sdf_lon]).addTo(map)
          			.bindPopup(msg_popup).openPopup();
              /*
          		L.circle([51.508, -0.11], 500, {
          			color: 'red',
          			fillColor: '#f03',
          			fillOpacity: 0.5
          		}).addTo(map).bindPopup("I am a circle.");
          
          		L.polygon([
          			[51.509, -0.08],
          			[51.503, -0.06],
          			[51.51, -0.047]
          		]).addTo(map).bindPopup("I am a polygon.");
              */
              
          		var popup = L.popup();
          
          		function onMapClick(e) {
          			popup
          				.setLatLng(e.latlng)
          				.setContent("You clicked the map at " + e.latlng.toString())
          				.openOn(map);
          		}
          
          		map.on('click', onMapClick);
            }
            
            function getCoordonneesFromAdress(query_adresse){
              
              var format = 'json' ;
              var server = 'http://nominatim.openstreetmap.org/';
              var q = query_adresse;
              var countryCodes = 'fr' ;
              var addresssdetails = 1;
              var accept_language = 'fr';
              var polygon = null;
              var viewbox = null;
              var bounded = null;
              var dedupe = null;
              var limit = null;
              
              var osm_params = {
                'q':query_adresse,
                'format':format,
                'countryCodes':countryCodes
              };
              
              var url_params = Object.keys(osm_params).map(function(key){ 
                return encodeURIComponent(key) + '=' + encodeURIComponent(osm_params[key]); 
              }).join('&'); 
              var url = server+'search?'+url_params,
              
              httpRequest = (window.XMLHttpRequest)? new XMLHttpRequest() : new ActiveXObject("MSXML2.XMLHTTP"); 
              
              httpRequest.open('GET', url, false);
              httpRequest.send();
              
              return JSON.parse( httpRequest.responseText );
            
            }

            $(document).ready(function(){
              
              var query_adresse = '<?php echo utf8_encode($query_adresse) ; ?>';
              var msg_popup = '<b> <?php echo $nom ;?> </b><br /><?php echo $adresse ;?><br /><?php echo $commune ;?>';
              
              <?php
                /**
                 * Test si coordonnées topographiques existante pour SiteFouille
                 * Sinon recherche &agrave; partir de l'adresse                 
                 */
                 $nb_coordonnees = $topo_sitefouille->count() ;
                 print $nb_coordonnees ; 
                 if ( empty($nb_coordonnees ) ) {
                  $nb_coordonnees = 1 ;                                 
              ?>
              
              var osm_dat = getCoordonneesFromAdress(query_adresse) ;
              var sdf_name = osm_dat[0].display_name ;
              var sdf_lon = osm_dat[0].lon ;
              var sdf_lat = osm_dat[0].lat ;
              var sdf_place_id = osm_dat[0].place_id
              var sdf_osm_id = osm_dat[0].osm_id
              
              <?php
                } else {
                  
                  $sdf_lon_cumul = 0 ;
                  $sdf_lat_cumul = 0 ;
                  foreach($topo_sitefouille as $tpo_key => $topo_value ) {
                    $sdf_lon_cumul += $topo_value['x'] ;
                    $sdf_lat_cumul += $topo_value['y'] ;                    
                  }
                  
                  $sdf_lon = $sdf_lon_cumul / $nb_coordonnees ;
                  $sdf_lat = $sdf_lat_cumul / $nb_coordonnees ;
              ?>  
                var sdf_lon = <?php echo $sdf_lon ; ?> ;
                var sdf_lat = <?php echo $sdf_lat ; ?> ;
              <?php  
                }
              ?>
              
              getSdfOsmLayers(sdf_lat,sdf_lon,msg_popup) ;                  
              // Affichage du modal (boite de dialogue)
              // $('#sdf_map_osm').html(sdf_name);

            });
                      
          </script>

        <!-- Maps du Site de Fouille / leaflet -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Localisation</h3>
            </div>
            <div class="panel-body">
              <div id="sdf_map" style="width: 100%px; height: 400px">
                Recherche en Cours ...
              </div>       
            </div>
          </div>        
          <link rel="stylesheet" href="<?php echo $request->getBaseUrl(); ?>/js/leaflet/leaflet.css" />
  
          <script src="<?php echo $request->getBaseUrl(); ?>/js/leaflet/leaflet.js"></script>

          </div>
          <div role="tabpanel" class="tab-pane" id="oa">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Liste des Op&eacute;ration(s) Arch&eacute;ologique(s)</h3>
              </div>
              <div class="panel-body" style="height:450px; overflow-y: auto;">
                <div id="oa_list">
                  <?php echo $this->getResponse('Oa', 'ListSimple', array( 'layout' => false , 'sitefouille_id' => $sitefouille_id ) ) ; ?>
                </div>       
              </div>        
            </div>
          </div>
      
          <div role="tabpanel" class="tab-pane" id="us">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Liste des Unit&eacute;s Stratigraphiques</h3>
                </div>
                <div class="panel-body" style="height: 450px; overflow-y: auto;">
                  <div id="us_list">
                    <?php echo $this->getResponse('Us', 'ListSimple', array( 'layout' => false , 'sitefouille_id' => $sitefouille_id ) ) ; ?>
                  </div>       
                </div>        
              </div>
          </div>
    
          <div role="tabpanel" class="tab-pane" id="er">
            <div id="er_list"></div>
          </div>
        </div>
      </div>
    </p> 
  </div>

<?php 
  $this->getLayout()->setEnabled(true);
  
?>