<?php

$session = $this->getSession();
$registry = $this->getRegistry();
// appel fichier internationalisation
$i18n = $registry -> get('i18n');

$filter_html = new Yab_Filter_Html();
$filter_no_html = new Yab_Filter_NoHtml();
$pager = new Yab_Helper_Pager($traitements, 'pager_traitement');

$traitements = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Traitement</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('er_id', $filter_no_html->filter( $i18n -> say('er_id'))); ?></td>
			<td><?php echo $pager->getSortLink('debut', $filter_no_html->filter( $i18n -> say('debut'))); ?></td>
			<td><?php echo $pager->getSortLink('fin', $filter_no_html->filter( $i18n -> say('fin'))); ?></td>
			<td><?php echo $pager->getSortLink('lieu', $filter_no_html->filter( $i18n -> say('lieu'))); ?></td>
			<td><?php echo $pager->getSortLink('type_id', $filter_no_html->filter( $i18n -> say('type_id'))); ?></td>
			<td><?php echo $pager->getSortLink('observation', $filter_no_html->filter( $i18n -> say('observation'))); ?></td>
			<td><?php echo $pager->getSortLink('etat_id', $filter_no_html->filter( $i18n -> say('etat_id'))); ?></td>
			<td><?php echo $pager->getSortLink('intervenant_id', $filter_no_html->filter( $i18n -> say('intervenant_id'))); ?></td>			
			<td colspan="2">
				<a href="<?php echo $this->getRequest('Traitement', 'add'); ?>">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;"></span>
				</a>
			</td>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($traitements as $traitement){  
			
			/* definition du format affichage de la date */			
			$traitement->set('format','%d/%m/%Y') ;
			
			$traitement_id = $traitement->get('traitement_id');	
			$observation = $traitement->get('observation', $filter_html);
			$intervenant_id = $traitement->get('intervenant_id');
			$intervenant_prenom = $traitement->get('intervenant_prenom');
			$intervenant_nom = $traitement->get('intervenant_nom'); 
		
	?>
		<tr>
			<td<?php echo $pager->getClass($traitements); ?>><?php echo $traitement->get('numero', $filter_html); ?></td>
			<td<?php echo $pager->getClass($traitements); ?>><?php echo $traitement->get('debut', $filter_html); ?></td>
			<td<?php echo $pager->getClass($traitements); ?>><?php echo $traitement->get('fin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($traitements); ?>><?php echo $traitement->get('lieu', $filter_html); ?></td>
			<td<?php echo $pager->getClass($traitements); ?>><?php echo $traitement->get('traitement_type', $filter_html); ?></td>
			<td<?php echo $pager->getClass($traitements); ?>>
		        <?php if (!empty($observation) ) { ?>
		          <span
		            id="description_<?php echo $traitement_id ; ?>"
		            class="glyphicon glyphicon-info-sign"
		            data-toggle="popover"
		            data-container="body"
		            data-content="<?php echo $observation ; ?>"            
		            data-placement="right"
		            style="font-size: 18px; cursor:pointer;"
		          ></span>        
		        <?php } ?>
	        </td>				
			</td>
			<td<?php echo $pager->getClass($traitements); ?>><?php echo $traitement->get('traitement_etat', $filter_html); ?></td>
			<td<?php echo $pager->getClass($traitements); ?>>
			<?php if (!empty($intervenant_id) ) { ?>
	          <span
	            id="description_<?php echo $traitement_id ; ?>"
	            class="glyphicon glyphicon-user"
	            data-toggle="popover"
	            data-container="body"
	            data-content="<?php echo ucfirst($intervenant_prenom).' '.strtoupper($intervenant_nom) ; ?>"            
	            data-placement="right"
	            style="font-size: 18px; cursor:pointer;"
	          ></span>        
	        <?php } ?>
			</td>			
			<td<?php echo $pager->getClass($traitements); ?>>
				<a href="<?php echo $this->getRequest('Traitement', 'edit', array($traitement_id) ); ?>">
					<span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span>
				</a>
			</td>
			<td<?php echo $pager->getClass($traitements); ?>>
				<a href="<?php echo $this->getRequest('Traitement', 'delete', array($traitement_id) ); ?>">
					<span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span>
				</a>
			</td>
		</tr>
	<?php } ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="11"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="11">
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table>