<?php

	$session = $this->getSession();
	$filter_html = new Yab_Filter_Html();
	$pager = new Yab_Helper_Pager($releves, 'pager_releve');

	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();

	$releves = $pager->getStatement();

?>

<table class="table table-striped">
	<caption><?php if(isset($nbrRequete)){echo $nbrRequete." ";} echo $filter_no_html->filter( $i18n -> say('releve_title_index')) ; ?></caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('croquis_id'); ?></td>
			<td><?php echo $pager->getSortLink('sitefouille_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php 
		$params = array();
		foreach($releves as $releve): 
		$params['id'] = $releve->get('id');
		?>
		<tr>
			<td<?php echo $pager->getClass($releves); ?>><?php echo $releve->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($releves); ?>><?php echo $releve->get('croquis_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($releves); ?>><?php echo $releve->get('sitefouille_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($releves); ?>><a href="<?php echo $this->getRequest('Releve', 'edit', $params); ?>">EDIT</a></td>
			<td<?php echo $pager->getClass($releves); ?>><a href="<?php echo $this->getRequest('Releve', 'delete', $params); ?>">DELETE</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="5">
				<a href="<?php echo $this->getRequest('Releve', 'add'); ?>">ADD</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>">Go back to index</a>
			</td>
		</tr>
	</tfoot>
</table>