<?php
	//appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();
?>

<!-- CSS pour les éléments multimédias -->
<link rel="stylesheet"
	href="<?php echo $request->getBaseUrl(); ?>/css/blueimp-gallery.min.css">

<h2 class="page-header">
	<?php echo $filter_no_html->filter( $i18n -> say('show_form')).' '.$filter_no_html->filter( $i18n -> say('fai')).' : '.
	$filter_no_html->filter($helper_form->getElement('identification')->get('value')) ; ?>
</h2>
<div class="table-detail panel-group" id="accordion" role="tablist"
	aria-multiselectable="true">
	<!-- Panel Detail - Start -->
	<div id="panel_detail" class="panel panel-primary">

		<div class="panel-heading" role="tab" id="headingDetail">
			<h4 class="panel-title">
				<span class="icon-address" aria-hidden="true"></span>&nbsp; <a
					role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapseDetail" aria-expanded="true"
					aria-controls="collapseDetail"> <?php echo $filter_no_html->filter( $i18n -> say('identification') );?>
				</a>
			</h4>
		</div>

		<div id="collapseDetail" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="headingDetail">
			<div class="panel-body">
				<table>
					<?php $classTr = array('tr-pair','tr-impair'); $index = 1; ?>
					<tr class="<?php echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('sitefouille_id')->get('label');?>
						</th>
						<td>
							<?php echo $site_name;?>
						</td>
						<td></td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('identification')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('identification')->get('value');?>
						</td>
						<td></td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('description')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('description')->get('value');?>
						</td>
						<td></td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('typefai_id')->get('label');?>
						</th>
						<td>
							<?php echo $categ_value;?>
						</td>
						<td></td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $filter_no_html->filter( $i18n -> say('datation') ); ?>
						</th>
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $filter_no_html->filter( $i18n -> say('estimee') ); ?>
						</th>
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $filter_no_html->filter( $i18n -> say('certaine') ); ?>
						</th>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('fin_fourc_hte_estim')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('fin_fourc_hte_estim')->get('value');?>
						</td>
						<td>
							<?php echo $helper_form->getElement('fin_fourc_hte_certain')->get('value');?>
						</td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('fin_fourc_bas_estim')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('fin_fourc_bas_estim')->get('value');?>
						</td>
						<td>
							<?php echo $helper_form->getElement('fin_fourc_bas_certain')->get('value');?>
						</td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('deb_fourc_hte_estim')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('deb_fourc_hte_estim')->get('value');?>
						</td>
						<td>
							<?php echo $helper_form->getElement('deb_fourc_hte_certain')->get('value');?>
						</td>
					</tr>

					<tr class="<?php $index < 0 ? $index = 1: ''; echo $classTr[$index]; $index -= 1; ?>">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('deb_fourc_bas_estim')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('deb_fourc_bas_estim')->get('value');?>
						</td>
						<td>
							<?php echo $helper_form->getElement('deb_fourc_bas_certain')->get('value');?>
						</td>
					</tr>
				</table>

				<!-- Add extensions  fai_extension -->
				<div class="field form-group panel-block" id="section_fai_extension">
					<div id="panel-fai_extension" class="panel panel-default panel-show">
						<div class="panel-heading">
							<h4 class="panel-title">Extension </h4>
						</div>
						<div class="panel-body" id="fai_extension">
						</div>
					</div>
				</div>
				<!-- End extensions -->
			</div>
		</div>
	</div>
	<!-- Panel Detail - End -->

	<!-- Panel Relations - Start -->
	<?php if((isset($associatfai_us) and !empty($associatfai_us)) or (isset($associatfai_fai) and !empty($associatfai_fai))){ ?>
	<div id="panel_relations" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingRelations">
			<h4 class="panel-title">
				<span class="icon-time" aria-hidden="true"></span>&nbsp; <a
					class="collapsed" role="button" data-toggle="collapse"
					data-parent="#accordion" href="#collapseRelations"
					aria-expanded="false" aria-controls="collapseRelations"> <?php echo $filter_no_html->filter( $i18n -> say('relation') );?>
				</a>
			</h4>
		</div>

		<div id="collapseRelations" class="panel-collapse collapse"
			role="tabpanel" aria-labelledby="headingRelations">
			<div class="panel-body">
				<?php if(isset($associatfai_us) and !empty($associatfai_us)){ ?>
				<div class="panel-heading">
					<strong> <?php echo $filter_no_html->filter( $i18n -> say('relation_fai_us_list') ); ?>
					</strong>
				</div>
				<div class="panel-body">
					<?php echo $this->getResponse('Fai_Us', 'ListFaiUs', array('layout' => false, 'fai_id' => $fai_id, 'v_action' => false) ); ?>
				</div>
				<?php } ?>

				<?php if(isset($associatfai_fai) and !empty($associatfai_fai)){ ?>
				<div class="panel-heading">
					<strong> <?php echo $filter_no_html->filter( $i18n -> say('relation_fai_fai_list') ); ?>
					</strong>
				</div>
				<div class="panel-body">
					<?php echo $this->getResponse('Interfait', 'ListFaiFai', array('layout' => false, 'fai_id' => $fai_id, 'v_action' => false) ); ?>
				</div>
				<?php } ?>
			</div>
		</div>
	</div>
	<?php } ?>
	<!-- Panel Relations - End -->

	<!-- Panel Multimedia - Start -->
	<div id="panel_media" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingMedia">
			<h4 class="panel-title">
				<span class="icon-time" aria-hidden="true"></span>&nbsp;
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
					<?php echo $filter_no_html->filter( $i18n -> say('multimedia') ); ?>
				</a>
			</h4>
		</div>

		<div id="collapseMedia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMedia">
			<div class="panel-body media-width">
				<div class="panel-body-media">
					<?php echo $this->getResponse('Mediatheque', 'Show', array('entity' => 'Fai', 'entity_id' => $fai_id) ); ?>
				</div>
			</div>
		</div>
	</div>
	<!-- Panel Multimedia - End -->

	<!-- Panel Photogrammetry - Start -->
	<div id="panel_photo" class="panel panel-primary">

		<div class="panel-heading" role="tab" id="headingPhoto">
			<h4 class="panel-title">
				<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapsePhoto" aria-expanded="true"
					aria-controls="collapsePhoto"> <?php echo $filter_no_html->filter( $i18n -> say('photogrammetrie') );?>
				</a>
			</h4>
		</div>

		<div id="" class="panel-collapse collapse in" role="tabpanel"
			aria-labelledby="">
			<div class="panel-body">
				<table id="table_sitefouilles_index"
					class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
					<tbody>
						<?php foreach($photogrammetries as $photogrammetrie){ ?>
						<tr
							href="http://localhost/PHP/FSN/public/photogrammetries/modele0.jpg"
							title="<?php echo $filter_no_html->filter( $i18n->say('show_3d')) ; ?>"
							class="table-clickable-row">
							<td>
								<?php echo $photogrammetrie?>
							</td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Panel Photogrammetry - End -->

</div>

<div>
	<a href="<?php echo $this->getRequest('Fai', 'index'); ?>"
		class="btn btn-default"> <?php echo $filter_no_html->filter( $i18n -> say('back_form') ); ?>
	</a>
</div>

<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
  */
  $this->getLayout()->setEnabled(true);
?>

<!-- JS pour les éléments multimédias -->
<script src="<?php echo $request->getBaseUrl(); ?>/js/jquery.blueimp-gallery.min.js"></script>

<script>
	// Gestion des fai_extension !
	$(function() {
		var formfx = "<?php echo $formFX; ?>";
		
		if (formfx != "empty" && formfx != "") {
			$('#fai_extension').html(formfx);
		} else {
			$('#section_fai_extension').hide();
		}
	});
</script>