<?php


	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
  	$pager = new Yab_Helper_Pager($us_synchronisations, 'pager_synchronisation');

  // $synchronisations = $pager->getStatement();

?>

<table class="table table-striped table-bordered table-hover table-condensed table-responsive table-panel">
	<thead>
	<tr>
		<th class="col-<?php echo $form_synchronisation->getElement('synchro2_id')->get('id'); ?>"
			champs="<?php echo $form_synchronisation->getElement('synchro2_id')->get('id'); ?>">
			<?php echo $filter_html->filter( $i18n -> say('identification')) ; ?>
		</th>
		<th class="col-<?php echo $form_synchronisation->getElement('incertitude')->get('id'); ?>"
			champs="<?php echo $form_synchronisation->getElement('incertitude')->get('id'); ?>">
			<?php echo $filter_html->filter( $i18n -> say('incertitude')) ; ?>
		</th>
		<th class="col-<?php echo $form_synchronisation->getElement('synchrotype_id')->get('id'); ?>"
			champs="<?php echo $form_synchronisation->getElement('synchrotype_id')->get('id'); ?>">
			<?php echo $filter_html->filter( $i18n -> say('type')) ; ?>
		</th>

		<?php if ($v_action) { ?>
		<th class="col-action">
			<?php echo $filter_html->filter( $i18n -> say('action')) ; ?>
		</th>
		<?php } ?>
	</tr>
	</thead>
	<tbody>

	<?php
	
		foreach($us_synchronisations as $us_sychronisation):
			
			$sychronisation_id = ($us_id == $us_sychronisation->get('synchro1_id')) ? $us_sychronisation->get('synchro1_id') : $us_sychronisation->get('synchro2_id');
			$synchro_2 = ($us_id != $us_sychronisation->get('synchro1_id')) ? $us_sychronisation->get('synchro1_id') : $us_sychronisation->get('synchro2_id');
			$observation =	$us_sychronisation->get('observation', $filter_html);
			$incertitude = $us_sychronisation->get('incertitude' );
			$identification = ($us_id == $us_sychronisation->get('synchro1_id')) ? $us_sychronisation->get('us_synchro_identification') : $us_sychronisation->get('us_identification');
	?>
	
	
	<tr class="table-relation-row">
		<td class="table-row-data">
			<a href="<?php echo $this->getRequest('Us', 'show', array($synchro_2)); ?>" target="_blank">
				<?php echo $identification; ?>
			</a>
		</td>
		<td class="table-row-data">
			<?php if (!empty($incertitude) ) { ?>
			<span class="glyphicon glyphicon-ok"></span>
			<?php } ?>
		</td>
		<td class="table-row-data"><?php echo $us_sychronisation->get('synchrotype', $filter_html); ?></td>
		<?php if ($v_action) { ?>
		<td><a href="#" class="del-row-button"><span class="glyphicon glyphicon-remove-circle danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		<?php } ?>
		<input type="hidden" champs="<?php echo $form_synchronisation->getElement('synchro1_id')->get('id') ?>" value="<?php echo $sychronisation_id?>" />
		<input type="hidden" champs="<?php echo $form_synchronisation->getElement('synchro2_id')->get('id') ?>" value="<?php echo $synchro_2?>"
			    val="<?php echo $identification?>" />
		<input type="hidden" champs="<?php echo $form_synchronisation->getElement('incertitude')->get('id') ?>" value="<?php echo $us_sychronisation->get('incertitude' )?>" />
		<input type="hidden" champs="<?php echo $form_synchronisation->getElement('synchrotype_id')->get('id') ?>" value="<?php echo $us_sychronisation->get('synchrotype_id' )?>" />
		<input type="hidden" champs="<?php echo $form_synchronisation->getElement('observation')->get('id') ?>" value="<?php echo $us_sychronisation->get('observation' )?>" />
	</tr>
	<?php endforeach; ?>
	</tbody>
</table>
