<div class="group-panel" id="element" role="tablist" aria-multiselectable="true">
	<div class="col-md-12">
		<!-- Panel Nombre US Total - Start -->
		<div class="col-md-6">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<div class="panel panel panel-primary">
					<div class="panel-heading " role="tab">
						<h4 class="panel-title">
							Nombre d'US total
						</h4>
					</div>
					<div class="panel-body">
						        	<?php
$base_url = $request->getBaseUrl();
$data_us_total = 0;  
  foreach ($total_us as $us_t ) {                        
    $data_us_total = $us_t->get('total');
  } 
echo $data_us_total; ?><!-- Affichage du nombre total d'US -->
					</div>
				</div>
			</div>
		</div>	
		<!--  Panel Nombre US Total - End -->	
		
		<!--  Panel Nombre US en cours - Start -->
		<div class="col-md-6">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<div class="panel panel panel-primary">
					<div class="panel-heading ">
						<h4 class="panel-title" >
						Nombre d'US en cours de fouilles
						</h4>
					</div>
					<div class="panel-body">
					<?php
$base_url = $request->getBaseUrl();
$data_us_encours = 0;  
foreach ($encours_us as $us_ec ) {                        
$data_us_encours = $us_ec->get('encours');
  }
					?>
					
						<?php echo $data_us_encours; ?> <!-- Affichage du nombre d'US en cours de fouilles -->
					</div>
				</div>	
			</div>
		</div>
		<!--  Panel Nombre US en cours - End -->		
	</div>
</div>
		