<?php 
  // echo $helper_form->setLegend('Editer')->setSubmit('Enregistrer')->setButton($this->getRequest('Dashboard_Sitefouille', 'index'), 'Retour');
  
  $filter_html = new Yab_Filter_Html();
  $form_errors = $form_intervention_us->getErrors();
  
?>
  <form method="post" action="" role="form" class="form-horizontal">	
    <fieldset>		
    <div 
      class="form-group field <?php echo array_key_exists('intervenant_id', $form_errors) ? ' error' : ''; ?>"
      id="F<?php echo $filter_html->filter($form_intervention_us->getElement('intervenant_id')->get('id')); ?>"> 							 
      <label 
        class="col-md-3 control-label" 
        for="<?php echo $filter_html->filter($form_intervention_us->getElement('intervenant_id')->get('id')); ?>">                                          								   
        <?php echo $filter_html->filter($form_intervention_us->getElement('intervenant_id')->get('label')); ?>  							 
      </label>			                                   							 
      <?php echo $form_intervention_us->getElement('intervenant_id')->getHtml(); ?>
    </div>
    
    <div 
      class="form-group field <?php echo array_key_exists('us_id', $form_errors) ? ' error' : ''; ?>"
      id="F<?php echo $filter_html->filter($form_intervention_us->getElement('us_id')->get('id')); ?>"> 							 
      <label 
        class="col-md-3 control-label" 
        for="<?php echo $filter_html->filter($form_intervention_us->getElement('us_id')->get('id')); ?>">                                          								   
        <?php echo $filter_html->filter($form_intervention_us->getElement('us_id')->get('label')); ?>  							 
      </label>			                                   							 
      <?php echo $form_intervention_us->getElement('us_id')->getHtml(); ?>
    </div>    	
    
    <div 
      class="form-group field <?php echo array_key_exists('debut', $form_errors) ? ' error' : ''; ?>"
      id="F<?php echo $filter_html->filter($form_intervention_us->getElement('debut')->get('id')); ?>"> 							 
      <label 
        class="col-md-3 control-label" 
        for="<?php echo $filter_html->filter($form_intervention_us->getElement('debut')->get('id')); ?>">                                          								   
        <?php echo $filter_html->filter($form_intervention_us->getElement('debut')->get('label')); ?>  							 
      </label>			                                   							 
      <?php echo $form_intervention_us->getElement('debut')->getHtml(); ?>
    </div>  
    
    <div 
      class="form-group field <?php echo array_key_exists('fin', $form_errors) ? ' error' : ''; ?>"
      id="F<?php echo $filter_html->filter($form_intervention_us->getElement('fin')->get('id')); ?>"> 							 
      <label 
        class="col-md-3 control-label" 
        for="<?php echo $filter_html->filter($form_intervention_us->getElement('fin')->get('id')); ?>">                                          								   
        <?php echo $filter_html->filter($form_intervention_us->getElement('fin')->get('label')); ?>  							 
      </label>			                                   							 
      <?php echo $form_intervention_us->getElement('fin')->getHtml(); ?>
    </div>  
              	
    <div 
      class="form-group field <?php echo array_key_exists('type_id', $form_errors) ? ' error' : ''; ?>"
      id="F<?php echo $filter_html->filter($form_intervention_us->getElement('type_id')->get('id')); ?>"> 							 
      <label 
        class="col-md-3 control-label" 
        for="<?php echo $filter_html->filter($form_intervention_us->getElement('type_id')->get('id')); ?>">                                          								   
        <?php echo $filter_html->filter($form_intervention_us->getElement('type_id')->get('label')); ?>  							 
      </label>			                                   							 
      <?php echo $form_intervention_us->getElement('type_id')->getHtml(); ?>
    </div> 

    </fieldset>
  </form>
