<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fsn_admin_menus, 'pager_fsn_admin_menu');

$fsn_admin_menus = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped">
	<caption>Fsn_Admin_Menu</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('menu_id'); ?></td>
			<td><?php echo $pager->getSortLink('menu_name'); ?></td>
			<td><?php echo $pager->getSortLink('menu_label'); ?></td>
			<td><?php echo $pager->getSortLink('parent_menu_id'); ?></td>
			<td><?php echo $pager->getSortLink('is_active'); ?></td>
			<td><?php echo $pager->getSortLink('html_id'); ?></td>
			<td><?php echo $pager->getSortLink('html_href'); ?></td>
			<td><?php echo $pager->getSortLink('html_title'); ?></td>
			<td><?php echo $pager->getSortLink('html_target'); ?></td>
			<td><?php echo $pager->getSortLink('html_action'); ?></td>
			<td><?php echo $pager->getSortLink('html_class'); ?></td>
			<td><?php echo $pager->getSortLink('php_controller'); ?></td>
			<td><?php echo $pager->getSortLink('php_action'); ?></td>
			<td><?php echo $pager->getSortLink('php_param'); ?></td>
			<td><?php echo $pager->getSortLink('comment'); ?></td>
			<td><?php echo $pager->getSortLink('ordre'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($fsn_admin_menus as $fsn_admin_menu): ?>
		<tr>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('menu_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('menu_name', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('menu_label', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('parent_menu_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('is_active', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('html_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('html_href', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('html_title', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('html_target', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('html_action', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('html_class', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('php_controller', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('php_action', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('php_param', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('comment', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><?php echo $fsn_admin_menu->get('ordre', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_Menu', 'edit', $fsn_admin_menu->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($fsn_admin_menus); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_Menu', 'delete', $fsn_admin_menu->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="18"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="18">
				<a href="<?php echo $this->getRequest('Fsn_Admin_Menu', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>