<?php

	$session = $this->getSession();
	$filter_html = new Yab_Filter_Html();
	$pager = new Yab_Helper_Pager($episodeurbains, 'pager_episodeurbain');

	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();

	$episodeurbains = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption><?php if(isset($nbrRequete)){echo $nbrRequete." ";} echo $filter_no_html->filter( $i18n -> say('episodeurbain_title_index')) ; ?></caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('identification'); ?></td>
			<td><?php echo $pager->getSortLink('description'); ?></td>
			<td><?php echo $pager->getSortLink('datationdebutbasse'); ?></td>
			<td><?php echo $pager->getSortLink('datationdebuthaute'); ?></td>
			<td><?php echo $pager->getSortLink('datationfinbasse'); ?></td>
			<td><?php echo $pager->getSortLink('datationfinhaute'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php 
		$params = array();
		foreach($episodeurbains as $episodeurbain): 
		$params['id'] = $episodeurbain->get('id');
		?>
		<tr>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('identification', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('description', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('datationdebutbasse', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('datationdebuthaute', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('datationfinbasse', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><?php echo $episodeurbain->get('datationfinhaute', $filter_html); ?></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><a href="<?php echo $this->getRequest('Episodeurbain', 'edit', $params); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($episodeurbains); ?>><a href="<?php echo $this->getRequest('Episodeurbain', 'delete', $params); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="9">
				<a href="<?php echo $this->getRequest('Episodeurbain', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>