<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($phase_uses, 'pager_phase_us');

$phase_uses = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Phase_Us</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('phase_id'); ?></td>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('incertitude'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($phase_uses as $phase_us): ?>
		<tr>
			<td<?php echo $pager->getClass($phase_uses); ?>><?php echo $phase_us->get('phase_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phase_uses); ?>><?php echo $phase_us->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phase_uses); ?>><?php echo $phase_us->get('incertitude', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phase_uses); ?>><a href="<?php echo $this->getRequest('Phase_Us', 'edit', $phase_us->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($phase_uses); ?>><a href="<?php echo $this->getRequest('Phase_Us', 'delete', $phase_us->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="5">
				<a href="<?php echo $this->getRequest('Phase_Us', 'add'); ?>"  class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default">Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table>