<?php
	//appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();	
?>

<script src="<?php echo $request->getBaseUrl() . "/js/Fsn/" . $request->getController() . "/" . $request->getAction() . ".js" ; ?>"></script>
<script
	src="<?php echo $request->getBaseUrl(); ?>/js/Fsn/ajax_init_XMLHttpRequest.js"></script>
<script
	src="<?php echo $request->getBaseUrl(); ?>/js/Fsn/notifications.js"></script>

<script src="<?php echo $request->getBaseUrl(); ?>/js/Fsn/Fsn_Categorie/generate_liste.js"></script>
<script>
	function changeRef(){
        ajaxReference("liste");
        ajaxReference("nom");
        affichageTableau();
	}
	$(function(){
        $("#libelleCreer").keyup(function(){
            searchAndResult($(this).val());
        });
	});
</script>
<input type="hidden" id="baseUrl"
	value="<?php echo $request->getBaseUrl() ; ?>" />

<h2 class="page-header">
	<?php //echo $filter_no_html->filter( $i18n -> say('show_form')) ; ?>
	<?php echo "GESTION DES LISTES DE REFERENCE" ; ?>
</h2>
<form method="POST" class="form-reference">
	<table 
		class="col-lg-12 col-md-12 col-sm-12 col-xs-12 categorie_table_ref">
		<tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_ref">
			<tr class="table_head gestion_bordures">
				<th class="ref_gestion_taille_select txt-position" id="select_tab_ref">Sélection
					d'une table de référence </th>
				<td class="ref_gestion_taille_select th-center"><select
					id="reference"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color select_style"
				
					onchange='changeRef()'>
						<option value="0">Choisir une référence</option>
						<?php 
						foreach ($liste as $key => $var) {
							if ($reference == $var["reference"]) { $sel = "selected='selected'" ; }  							
							else { $sel = "" ; }
				  echo "<option $sel value='".$var["reference"]."'>".$var["nom"]."</option>";
						}
						?>
				</select></td>
			</tr>
		</tbody>
	</table>


	<table class="categorie_table_ref" id="affichage" 
		style="display: none;">
		<tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_ref">
			<tr class="white gestion_bordures">
				<th class="txt-position" id="creation_ref" >Création d'une référence </th> 

			</tr>

			<tr
				class="col-lg-11 col-md-11 col-sm-11 col-xs-11 table_head gestion_bordures">
				<th
					class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ref_gestion_taille_insert txt-position padding_reference ref_gestion_taille_affichage th_center"
					id="nomReference">Libellé de la référence</th>
				<td
					class="col-lg-3 col-md-3 col-sm-2 col-xs-2 ref_gestion_taille_insert txt-position ref_gestion_taille_affichage th_center">
					<input
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color inputColor input_style"
					type="text" required="required" name="libelleCreer"
					id="libelleCreer" value="" placeholder="Nom du libellé" />

				</td>
				<th
					class="col-lg-2 col-md-2 col-sm-2 col-xs-2  ref_gestion_taille_insert txt-position ref_gestion_taille_affichage th_center"
					id="l_visibilite" >Visibilité</th>
				<td
					class="col-lg-1 col-md-1 col-sm-2 col-xs-2  ref_gestion_taille_insert ref_gestion_taille_affichage th_center">
					<input type="checkbox" name="visibleCreer" id="visibleCreer"
					checked="checked" />
				</td>
				<td
					class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ref_gestion_taille_insert ref_gestion_taille_affichage th_center">
					<span name="save" id="save" value=""
					class="glyphicon glyphicon-plus-sign" style="font-size: 32px;"
					alt="Ajouter" title="Ajouter" onClick="ajaxReference('insert');"></span>
				</td>
			</tr>
		</tbody>
	</table>

	<div id="listeRef"></div>
</form>

<?php if (isset($reference)) { ?>

<script type="text/javascript">

  ajaxReference("liste");
  ajaxReference("nom");
  affichageTableau();

  </script>

<?php } ?>
