<?php

	$session = $this->getSession();
	$filter_html = new Yab_Filter_Html();
	$pager = new Yab_Helper_Pager($croquis, 'pager_croquis');

	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();

	$croquis = $pager->getStatement();

?>

<table class="table table-striped">
	<caption><?php if(isset($nbrRequete)){echo $nbrRequete." ";} echo $filter_no_html->filter( $i18n -> say('croquis_title_index')) ; ?></caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('file_name'); ?></td>
			<td><?php echo $pager->getSortLink('image'); ?></td>
			<td><?php echo $pager->getSortLink('svg'); ?></td>
			<td><?php echo $pager->getSortLink('vg'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php 
		$params = array();
		foreach($croquis as $croqui): 
		$params['id'] = $croqui->get('id');
		?>
		<tr>
			<td<?php echo $pager->getClass($croquis); ?>><?php echo $croqui->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($croquis); ?>><?php echo $croqui->get('file_name', $filter_html); ?></td>
			<td<?php echo $pager->getClass($croquis); ?>><?php echo $croqui->get('image', $filter_html); ?></td>
			<td<?php echo $pager->getClass($croquis); ?>><?php echo $croqui->get('svg', $filter_html); ?></td>
			<td<?php echo $pager->getClass($croquis); ?>><?php echo $croqui->get('vg', $filter_html); ?></td>
			<td<?php echo $pager->getClass($croquis); ?>><a href="<?php echo $this->getRequest('Croquis', 'edit', $params); ?>">EDIT</a></td>
			<td<?php echo $pager->getClass($croquis); ?>><a href="<?php echo $this->getRequest('Croquis', 'delete', $params); ?>">DELETE</a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="7">
				<a href="<?php echo $this->getRequest('Croquis', 'add'); ?>">ADD</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>">Go back to index</a>
			</td>
		</tr>
	</tfoot>
</table>