<div class="login-panel panel panel-primary">
  <div class="panel-heading">
    CONNECTEZ-VOUS
  </div>
  <div class="panel-body">
      <form method="post" action="" role="form">
          <fieldset>
              <div class="form-group field text" id="Flogin">
                <input 
                  type="text"
                  value="" 
                  id="login" 
                  name="login" 
                  placeholder="Login"
                  class="form-control text" 
                  autofocus >                        
              </div>
              <div class="form-group field password" id="Fmdp">
                <input 
                  type="password" 
                  value=""
                  id="mdp" 
                  name="mdp" 
                  placeholder="Mot de passe"
                  class="form-control password">                        
              </div>
              <button type="submit" class="btn btn-primary btn-block" title="submit">
                <span class="glyphicon glyphicon-log-in"></span> VALIDER
              </button>
          </fieldset>
      </form>
  </div>
</div>