<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fsn_admin_usergroups, 'pager_fsn_admin_usergroup');

$fsn_admin_usergroups = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped">
	<caption>Fsn_Admin_Usergroup</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('user_id'); ?></td>
			<td><?php echo $pager->getSortLink('group_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($fsn_admin_usergroups as $fsn_admin_usergroup): ?>
		<tr>
			<td<?php echo $pager->getClass($fsn_admin_usergroups); ?>><?php echo $fsn_admin_usergroup->get('user_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_usergroups); ?>><?php echo $fsn_admin_usergroup->get('group_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_usergroups); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_Usergroup', 'edit', $fsn_admin_usergroup->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($fsn_admin_usergroups); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_Usergroup', 'delete', $fsn_admin_usergroup->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Fsn_Admin_Usergroup', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>