<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	// gestion des accentuations / date / ....
	$filter_html = new Yab_Filter_Html();
  $filter_no_html = new Yab_Filter_NoHtml();
  
	$session->set('format','%d/%m/%Y') ;

?>

<h2 class="page-header"><?php echo $filter_no_html->filter( $i18n->say('fsn_historique_title_detail')) ; ?></h2>

<form method="post" action="" role="form" class="form-horizontal">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
        <!-- Panel Résumé - Start -->
        <div class="panel panel panel-primary">
            <div class="panel-heading" role="tab" id="headingResume">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseResume" aria-expanded="true" aria-controls="collapseResume">
        <?php echo $filter_no_html->filter( $i18n->say('resume_title')) ; ?>
                    </a>
                </h4>
            </div>

            <div id="collapseResume" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingResume">
                <div class="panel-body">
                    <div class="col-md-12">
<!-- jfb 2016-04-12 Retrait du sitefouille_id du résumé
      		<div class="form-group field text" id="Fsitefouille_id">
      			<label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="sitefouille_id"><?php echo $filter_no_html->filter( $i18n->say('sitefouille_id')) ; ?></label>
            <?php echo $form_historique_show->getElement('sitefouille_id')->getHtml(); ?>
      		</div>
-->
      		<div class="form-group field text" id="Fcategorie_object">
      			<label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="categorie_object"><?php echo $filter_no_html->filter( $i18n->say('categorie_object')) ; ?><span class="required">*</span></label>
      			<?php echo $form_historique_show->getElement('categorie_object')->getHtml(); ?>
      		</div>
      		<div class="form-group field text" id="Flogin">
      			<label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="login">
              <?php echo $filter_no_html->filter( $i18n->say('login')) ; ?><span class="required">*</span>
            </label>
      			<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
              <input 
                id="username" 
                placeholder="Utilisateur" 
                readonly="readonly" 
                name="login" 
                class="form-control text" 
                value="<?php echo $form_historique_show->getElement('login')->get('value'); ?>" 
                type="text"
              >
               </div>
      		</div>
      		<div class="form-group field select" id="Ftype_action">
      			<label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="type_action"><?php echo $filter_no_html->filter( $i18n->say('type_action')) ; ?><span class="required">*</span></label>
      			<?php echo $form_historique_show->getElement('type_action')->getHtml(); ?>
      		</div>
      		<div class="form-group field text" id="Fdate_historique">
      			<label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="date_historique"><?php echo $filter_no_html->filter( $i18n->say('date_historique')) ; ?><span class="required">*</span></label>
      			<?php echo $form_historique_show->getElement('date_historique')->getHtml(); ?>        
      		</div>
      		
      				</div>
      			</div>
      		</div>
      		
        </div>
        <!-- Panel Résumé - End -->

        <!-- Panel Détail - Start -->
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingDetail">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDetail" aria-expanded="false" aria-controls="collapseDetail">
          <?php echo $filter_no_html->filter( $i18n->say('detail_title')) ; ?>
                    </a>
                </h4>
            </div>
            
            <div id="collapseDetail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDetail">
                <div class="panel-body">
                    <div class="col-md-12">
                    
          <?php echo $form_historique_show->getElement('data_modified')->get('value'); ?>
          
      				</div>
      			</div>
      		</div>
      		
        </div>
        <!-- Panel Détail - End -->
      </div>  
      <div>
        <a href="<?php echo $this->getRequest('Fsn_Historique', 'index'); ?>" class="button btn btn-default"><?php echo $filter_no_html->filter( $i18n->say('back_form')) ; ?></a>
      </div>
</form>
<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
   */
  $this->getLayout()->setEnabled(true);
?>
