<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($er_naturematieres, 'pager_er_naturematiere');

$er_naturematieres = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Er_Naturematiere</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('er_id'); ?></td>
			<td><?php echo $pager->getSortLink('naturematiere_id'); ?></td>
			<td><?php echo $pager->getSortLink('principal'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($er_naturematieres as $er_naturematiere): ?>
		<tr>
			<td<?php echo $pager->getClass($er_naturematieres); ?>><?php echo $er_naturematiere->get('er_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($er_naturematieres); ?>><?php echo $er_naturematiere->get('naturematiere_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($er_naturematieres); ?>><?php echo $er_naturematiere->get('principal', $filter_html); ?></td>
			<td<?php echo $pager->getClass($er_naturematieres); ?>><a href="<?php echo $this->getRequest('Er_Naturematiere', 'edit', $er_naturematiere->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($er_naturematieres); ?>><a href="<?php echo $this->getRequest('Er_Naturematiere', 'delete', $er_naturematiere->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="5">
				<a href="<?php echo $this->getRequest('Er_Naturematiere', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>