<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();

	$errors = $this->getSession()->has('errors')?$this->getSession()->get('errors'):array();

	$base_url = $request->getBaseUrl();

	$log_id = $form_add->getElement('log_id')->has('value') ? $form_add->getElement('log_id')->get('value') : null ;
	//$identification = $form_add->getElement('identification')->has('value') ? $form_add->getElement('identification')->get('value') : null ;

?>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 well">
        <h2 class="page-header">Ajout Couche</h2>
        <form method="post" name="form_couche" action="" role="form" class="form-horizontal">	
            <fieldset>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Panel Identification - Start -->
                    <div id="panel_identification" class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingIdentification">
                            <h4 class="panel-title">
                                <span class="icon-address" aria-hidden="true"></span>&nbsp;
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification"
                                   aria-expanded="true" aria-controls="collapseIdentification">Identification</a>
                            </h4>
                        </div>
                        
                        <div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
                            <div class="panel-body">
                                
                                <div class="form-group field text" id="Fnumerosite">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="numerosite">
                                        <?php echo $filter_no_html->filter($form_add->getElement('log_id')->get('label')); ?>
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="text" id="log_id" name="log" class="form-control text"
                                    value="<?php echo $form_add->getElement('log_id')->get('intitule'); ?>" readonly="1" />
                                    <?php echo $form_add->getElement('log_id')->getHtml(); ?>
                                    </div>
                                    </div>
                                </div>
                                
                                <div class="form-group field text" id="Fnum_sequence">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="num_sequence">
                                        Numero de sequence *
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="number" id="num_sequence" placeholder="Numero de sequence" name="num_sequence" class="form-control text" value="<?php echo $form_add->getElement('num_sequence')->getValue(); ?>" /></div>
                                    </div>
                                </div>
                                
                                <div class="form-group field text" id="Fepaisseur">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="epaisseur">
                                        Epaisseur (cm)
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="number" id="epaisseur" placeholder="Epaisseur" name="epaisseur" class="form-control text" /></div>
                                    </div>
                                </div>
                                
                                <div class="form-group field text" id="Fcouleur">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="couleur">
                                        Couleur
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="text" id="couleur" placeholder="Couleur" name="couleur" class="form-control text" /></div>
                                    </div>
                                </div>
                                
                                <div class="form-group field textarea" id="Fdescription">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="description">
                                        Description 							</label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><textarea rows="3" id="description" placeholder="Description" name="description" class="form-control textarea"></textarea></div>
                                    </div>
                                </div>
                                
                                <div class="form-group field text" id="Funitestratigraphique">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="unitestratigraphique">
                                        Unite Stratigraphique
                                    </label>
                                    <div><?php echo $form_add->getElement('us_id')->getHtml(); ?></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Panel Identification - End -->
                </div>
                <div>
                    <input class="btn btn-primary" id="confirmerAjoutCoucheLog" type="submit" value="Enregistrer" name="submit" />
                    <a href="#" id="annulerAjoutCoucheLog" class="btn btn-default">Annuler</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
  */
  //$this->getLayout()->setEnabled(true);
?>