<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fsn_admin_users, 'pager_fsn_admin_user');

$fsn_admin_users = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped">
	<caption>Fsn_Admin_User</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('user_id'); ?></td>
			<td><?php echo $pager->getSortLink('user_login'); ?></td>
			<td><?php echo $pager->getSortLink('user_password'); ?></td>
			<td><?php echo $pager->getSortLink('user_name'); ?></td>
			<td><?php echo $pager->getSortLink('last_login'); ?></td>
			<td><?php echo $pager->getSortLink('is_active'); ?></td>
			<td><?php echo $pager->getSortLink('ldap_info'); ?></td>
			<td><?php echo $pager->getSortLink('parameter'); ?></td>
			<td><?php echo $pager->getSortLink('comment'); ?></td>
			<td><?php echo $pager->getSortLink('user_email'); ?></td>
			<td><?php echo $pager->getSortLink('color'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($fsn_admin_users as $fsn_admin_user): ?>
		<tr>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('user_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('user_login', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('user_password', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('user_name', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('last_login', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('is_active', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('ldap_info', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('parameter', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('comment', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('user_email', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><?php echo $fsn_admin_user->get('color', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_User', 'edit', $fsn_admin_user->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($fsn_admin_users); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_User', 'delete', $fsn_admin_user->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="13"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="13">
				<a href="<?php echo $this->getRequest('Fsn_Admin_User', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>