{strip}
{combine_css id="prevnext" path=$PREVNEXT_PATH|cat:"template/style.css"}

{* <!-- nothing more than the button itself must be defined here --> *}
<a href="javascript:alert('Prev  a la Mike');" title="{'Prevous Album'|translate:('button'|translate)}" class="pwg-state-default pwg-button" rel="nofollow">
  <span class="pwg-icon prev-button">  </span>
  <span class="pwg-button-text">{'Skeleton'|translate}</span>
</a>
{/strip}