.prev-button {
  background:url('prev.png') center center no-repeat !important;
  min-width:26px;
  min-height:26px;
  border:5px;
}

.next-button {
  background:url('next.png') center center no-repeat !important;
  min-width:26px;
  min-height:26px;
  border:5px;
}

A {
	
}