<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($prod_precisionprods, 'pager_prod_precisionprod');

$prod_precisionprods = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Prod_Precisionprod</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('prod_id'); ?></td>
			<td><?php echo $pager->getSortLink('precisionprod_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($prod_precisionprods as $prod_precisionprod): ?>
		<tr>
			<td<?php echo $pager->getClass($prod_precisionprods); ?>><?php echo $prod_precisionprod->get('prod_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($prod_precisionprods); ?>><?php echo $prod_precisionprod->get('precisionprod_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($prod_precisionprods); ?>><a href="<?php echo $this->getRequest('Prod_Precisionprod', 'edit', $prod_precisionprod->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($prod_precisionprods); ?>><a href="<?php echo $this->getRequest('Prod_Precisionprod', 'delete', $prod_precisionprod->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Prod_Precisionprod', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>