<?php
	$session = $this->getSession();
	$registry = $this->getRegistry();
	$config = Yab_Loader::getInstance()->getConfig();

	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();

	$filter_date = new Yab_Filter_Date();
	$filter_date->set('format','%d/%m/%Y');

	$sitefouille_id = $session->get('sitefouille_id') ;
	
	// Liste des tables à afficher
	//$liste_tables_entites = array("conteneur","croquis","document","elementrecueilli","emplacement","episodeurbain","fai","intervenant","oa","phasechrono","releve","sitefouille","traitement","troncon","unitesondage","us","user");
?>

<script type='text/javascript'>
	var sZeroRecords = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_error')) ; ?>"
	var sSearch = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale')) ; ?> :"
</script>

<script src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/table_module.js"></script>

<script type='text/javascript'>
    var show_detail = false;
	
	function confirmer(url) {
		if (confirm('Veuillez Cliquer sur "OK" pour confirmer la suppression.')) {
			document.location.href = url ;
		}
	}
</script>

<script src="<?php echo $request->getBaseUrl(); ?>/js/sitefouille/existant.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/autocomplete/jquery-ui.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/requeteur/requeteur.js"></script>

<div style="float:right;padding-bottom:10px;padding-top:10px;color:white;margin-right: 5px;">
	<input type="checkbox" id="modeComplet" name="modeComplet" value="modeComplet"> Mode complet
</div>

<form id="form_selection" method="POST" action="index" target="_blank">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		<div id="panel_filtre" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingFiltre">
				<h4 class="panel-title">
					<span class="icon-searchfolder" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFiltre" aria-expanded="true" aria-controls="collapseFiltre">
						Filtre Avancé
					</a>
				</h4>
			</div>
			<div id="collapseFiltre" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFiltre">
				<div class="panel-body">
					<input type="hidden" id="baseUrl" value="<?php echo $request->getBaseUrl() ; ?>" />
					<input type="hidden" id="configPort" value="<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>" />
					<input type="hidden" id="listerRequetes" name="listerRequetes" class="text" value="">
					<table	id="table_Requeteur"
							class="table table-striped table-bordered table-condensed table-responsive">
						<caption>Sélection des éléments
							<span id="spanLegende_Requeteur">
								<img src="<?php echo $request->getBaseUrl(); ?>/images/loading.gif" alt="Veuillez patienter" title="Veuillez patienter" />
							</span>
						</caption>
							<input type="hidden" id="categorieprincipale_Requeteur" name="categorieprincipale_Requeteur" value="">
							<input type="hidden" id="categorieprincipale_Technique" name="categorieprincipale_Technique" value="">
							<input type="hidden" id="jeton_Requeteur" name="jeton_Requeteur" value="1">
							<input type="hidden" id="select_Requeteur" name="select_Requeteur" class="text" value="">
							<input type="hidden" id="from_Requeteur" name="from_Requeteur" class="text" value="">
							<input type="hidden" id="where_Requeteur" name="where_Requeteur" class="text" value="">
							<input type="hidden" id="select_Technique" name="select_Technique" class="text" value="">
							<input type="hidden" id="from_Technique" name="from_Technique" class="text" value="">
							<input type="hidden" id="inner_Technique" name="inner_Technique" class="text" value="">
							<input type="hidden" id="where_Technique" name="where_Technique" class="text" value="">
						<thead>
							<tr class="headings">
								<th colspan="2" align="center">Choix élement</th>
								<th>&nbsp;</th>
								<th>Valeur recherchée</th>
								<th colspan="3" align="center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr id="tr_Requeteur1">
								<input type="hidden" name="topLigneValidee" value="">
								<input type="hidden" name="niveauLigneValidee" value="0">
								<input type="hidden" name="aliasTable" value="a1">
								<input type="hidden" name="aliasTableJoin" value="">
								<td>
									<select	name="categorie_Requeteur" id="categorie_Requeteur1" class="col-md-10 col-xs-10" type="text">
										<option value="">Entité...</option>
											<?php foreach($listeCategories as $keyArray1 => $objet){ ?>
													<?php foreach($objet as $keyArray2 => $value){ ?>
														<?php if ($keyArray2 == 'Name') { ?>
															<?php //if ((substr($value,0,1) != '_') && (substr($value,0,4) != 'adm_') && (substr($value,0,5) != 'zpwg_') && (!(preg_match("/zpwg_/i", $value))) && (!(preg_match("/_tmp_/i", $value)))) { ?>
																<option value="<?php echo $value; ?>"><script>document.write(traduireRequeteur("<?php echo $value; ?>"));</script></option>
															<?php //} ?>
														<?php } ?>
													<?php } ?>
											<?php } ?>
									</select>
								</td>
								<td>
									<select name="element_Requeteur" id="element_Requeteur1" class="col-md-10 col-xs-10" type="text"
										onchange="changeElementRequeteur(this);">
									</select>
									<input type="hidden" name="type_Requeteur" value="">
								</td>
								<td name="comparaison_Requeteur" id="comparaison_Requeteur1">
								</td>
								<td name="valorisation_Requeteur">
								</td>
								<td>
									<span	class="glyphicon glyphicon-ok-sign" style="font-size: 18px;"
											alt="Valider" title="Valider" name="valider_Requeteur"
											onclick="validerRowRequeteur(this);"></span>
								</td>
								<td>
									<span	style="font-size: 18px;"
											alt="Ajouter" title="Ajouter" name="ajouter_Requeteur"
											onclick="ajouterRowRequeteur(this,'Validée');"></span>
								</td>
								<td>
									<span	class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;"
											alt="Supprimer" title="Supprimer" name="supprimer_Requeteur"
											onclick="supprimerRowRequeteur1(this);"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

<!-- <div id="panel_requete" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingRequete">
				<h4 class="panel-title">
					<span class="icon-edit" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRequete" aria-expanded="false" aria-controls="collapseThree">
						Requête
					</a>
				</h4>
			</div>
			<div id="collapseRequete" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequete">
				<div class="panel-body">-->		
					<div id="requeteArea">
						<hr>
							<textarea id="requeteurArea" class="form-control textarea" name="requeteurArea" placeholder="" type="textarea" rows="3"></textarea>
							<textarea id="techniqueArea" class="form-control textarea" name="techniqueArea" placeholder="" type="textarea" rows="4"></textarea>	
						</hr>
					</div>
			<!--</div> </div> </div> -->
  		
  		<div>
			<input id="idRequete" type="hidden" />
			<input id="titreRequete" name="titreRequete" size="100" class="text" type="text" placeholder="Titre de la requête"> Titre de la requête
			<br>
			<textarea id="descriptionRequete" class="form-control textarea" name="descriptionRequete" placeholder="Description de la requête" rows="1" type="textarea"></textarea>
  		</div>

		<div style="float:right;padding-bottom:10px;padding-top:10px">
			<span onclick="enregistrerRequete();" class="btn btn-default">Enregistrer</span>
			<span onclick="editerRequete();" class="btn btn-default">Editer</span>
			<span onclick="lancerRequete();" class="btn btn-default">Lancer</span>
			<span onclick="annulerformRequeteur('<?php echo $this->getRequest('Requeteur', 'index'); ?>');" class="btn btn-default">Annuler</span>
			<span onclick="retourformRequeteur('<?php echo $this->getRequest('Index', 'index'); ?>');" class="btn btn-default">Retour</span>
		</div>
</div>

<?php if (isset($listerRequetes) && ($listerRequetes == "lister")) { ?>
<div class="table-responsive">
	<div id="optiontools"></div>
	<div id="table_requeteur_index_wrapper">
		<table id="table_requeteur_index"
			class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
			<caption>
				<?php echo "Requêtes" ; ?>
			</caption>
			<thead>
				<tr class="headings">
					<th>
						<?php echo "utilisateur" ; ?>
					</th>
					<th>
						<?php echo $filter_no_html->filter( $i18n -> say('titre') ); ?>
					</th>
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('description')) ; ?>
					</th>
					<th>
						<?php echo "critère" ; ?>
					</th>
					<th>
						<?php echo "requête" ; ?>
					</th>
					<th>
						<?php echo "modifiée" ; ?>
					</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($requetes_index as $requete){ 
					$requete_id = $requete->get('id');
					$user_id = $requete->get('user_id');
					$titre = $requete->get('titre', $filter_html);
					$description = $requete->get('description', $filter_html);
					$critere = $requete->get('critere', $filter_html);
					$requeteg = $requete->get('requete', $filter_html);
					$modifiee = $requete->get('modified');
				?>
				<tr onclick="alimRequete('<?php echo $filter_no_html->filter($requete_id) ?>','<?php echo $filter_no_html->filter($user_id) ?>','<?php echo $filter_no_html->filter($modifiee) ?>');">
					<td class="table-row-data">
						<?php echo $user_id; ?>
					</td>
					<td class="table-row-data">
						<?php echo $titre ; ?>
					</td>
					<td class="table-row-data">
						<?php if (!empty($description) ) { ?>
						  <span
							class="glyphicon glyphicon-comment"
							data-toggle="tooltip" 
							data-container="body"
							data-content="<?php echo $description ; ?>"            
							data-placement="right"
							style="font-size: 18px; cursor:pointer;"
							title="<?php echo $description ; ?>"
						  ></span>
						  <div style="display: none;"><?php echo $description ; ?></div>       
						<?php } ?>
					</td>
					<td class="table-row-data">
						<?php if (!empty($critere) ) { ?>
						  <span
							class="glyphicon glyphicon-comment"
								data-toggle="tooltip" 
							data-container="body"
							data-content="<?php echo $critere ; ?>"            
							data-placement="right"
							style="font-size: 18px; cursor:pointer;"
								title="<?php echo $critere ; ?>"
						  ></span>
						  <div style="display: none;"><?php echo $critere ; ?></div>       
						<?php } ?>
					</td>
					<td class="table-row-data">
						<?php if (!empty($requeteg) ) { ?>
						  <span
							class="glyphicon glyphicon-comment"
								data-toggle="tooltip" 
							data-container="body"
							data-content="<?php echo $requeteg ; ?>"            
							data-placement="right"
							style="font-size: 18px; cursor:pointer;"
								title="<?php echo $requeteg ; ?>"
						  ></span>
						  <div style="display: none;"><?php echo $requeteg ; ?></div>       
						<?php } ?>
					</td>
					<td class="table-row-data">
						<?php echo $modifiee ; ?>
					</td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>
<?php } ?>

</form>

<div style="float:left;padding-bottom:10px;padding-top:10px">
	<span> 
		<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default">Retour &agrave; index</a>
		<span onclick="recupererRequete();" class="btn btn-default btn-right">Récupérer la liste des requêtes</span>
	</span>
</div>

<div class="modal" id="chargement" tabindex="-1" role="dialog" aria-labelledby="titrePopUp" aria-hidden="false" data-backdrop="true" data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
					<!-- la croix de fermeture de la popup -->
					<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
				</h4>
			</div>
			<div class="modal-body">
				<h4>Veuillez patienter pendant le chargement de la requête...</h4>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>
