<?php 
  // test si page autonome ( dans un layout ) ou incluse dans une autre.
  // permet de ne pas redefinir l'appel highcharts de multiple fois
  if (!$this->getLayout()->getEnabled() ) { 
?>
  <link href="<?php echo $request->getBaseUrl(); ?>/css/_vis.css" rel="stylesheet" type="text/css" />
  <script src="<?php echo $request->getBaseUrl(); ?>/js/vis.js"></script>
<?php  } ?>

  <style type="text/css">
    #mynetwork {
      width: 600px;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>
<!-- Rappel Titre Onglets -->
<div class="col-md-12"><h2 class="page-header">Unit&eacute;s Stratigraphiques</h2></div>

<div class="col-md-12">  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Chronologie</h3>
    </div>
    <div class="panel-body">
      <div id="mynetwork"></div>
    </div>
    <div class="panel-footer">Panel footer</div>
  </div>
</div>
<script type="text/javascript">
      var network_nodes = [
        {id: 1, label: 'dashed\nline\nexamples'},
        {id: 2, label: 'default'},
        {id: 3, label: 'dash.length: 20\ndash.gap: 20'},
        {id: 4, label: 'dash.length: 20\ndash.gap: 5'},
        {id: 5, label: 'dash.length: 5\ndash.gap: 20'},
        {id: 6, label: 'dash.length: 20\ndash.gap: 5\ndash.altLength: 5'}
      ];
      var network_edges = [
        {from: 1, to: 2, style: 'dash-line'},
        {from: 1, to: 3, style: 'dash-line', dash: {length: 20, gap: 20}},
        {from: 1, to: 4, style: 'dash-line', dash: {length: 20, gap: 5}},
        {from: 1, to: 5, style: 'dash-line', dash: {length: 5, gap: 20}},
        {from: 1, to: 6, style: 'dash-line', dash: {length: 20, gap: 5, altLength: 5}}
      ];

      // create the network
      var network_container = document.getElementById('mynetwork');
      
      var network_data = {
        nodes: network_nodes,
        edges: network_edges
      };
      var network_options = {
        nodes: {
          shape: 'box'
        },
        physics: {barnesHut:{springLength:150}}, // this is the correct way to set the length of the springs
        stabilize: false
      };
      var network = new vis.Network(network_container, network_data, network_options);
    
</script>